<hgroup class="clearfix">
  <h1 class="ui header left floated">
    Company Anatomy
  </h1>
</hgroup>
<div class="ui divider"></div>
<h2 class="ui center aligned header">Some useful stats here</h2>
<h2 class="ui center aligned header">Some useful graphs here</h2>
