<hgroup class="clearfix">
  <h1 class="ui header left floated">
    Locations
  </h1>

  <div class="right aligned text floated menu__actions">
    <h3 class="ui right floated header">
      {{#link-to 'account.anatomy.locations.index' class="item"}}<i class="plus icon"></i>{{/link-to}}
    </h3>
    {{#if auth.user.company.linkedToSlate}}
      <h3 class="ui right floated header">
        {{#ui-popup position="left center" content="Import from Slate Payroll..."}}
          <a href="#">
            <i class="sign in icon"></i>
          </a>
        {{/ui-popup}}
      </h3>
    {{/if}}
  </div>
</hgroup>
<div class="ui divider"></div>

<div class="ui divided link items">
  {{#each model as |location|}}
    {{#link-to 'account.anatomy.location' location class="item"}}
      {{list-item/location-item location=location}}
    {{/link-to}}
  {{else}}
    <h2 class="ui center aligned header">No locations available.</h2>
  {{/each}}
</div>

{{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
