{{#each this.pipeline.stages as |stage|}}
  {{card-pipeline/stage-column
    stage
    this.pipeline.stages
    newScheduledMeeting=this.newScheduledMeeting
    activeCandidates=this.candidates
    dispatchReorder=(action "setOrder")
    moveAppToStage=(action "moveAppToStage")
    onDisqualify=this.onDisqualify
    onUnDisqualify=this.onUnDisqualify
    onUnHire=this.onUnHire
    onSchedule=this.onSchedule
    disableDragging=this.working
    onLinkSharing=this.onLinkSharing
    onOnboardCandidate=this.onOnboardCandidate
    onAddLabel=this.onAddLabel}}
{{/each}}

<div class="ui {{if this.workingSlow "active"}} inverted dimmer">
  <div class="ui text loader">One moment...</div>
</div>
