{{#each form as |field|}}
  {{#if (not (and field.displayIf (not (get model field.displayIf))))}}
    {{#if field.embeddedInput}}
      {{#input/quick-form-input
        field
        model
        controller
        class=field.class
      }}
        {{input/quick-form-input
          field.embeddedInput
          model
          controller
          class=field.class}}
      {{/input/quick-form-input}}
    {{else}}
      {{input/quick-form-input
        field
        model
        controller
        class=field.class}}
    {{/if}}
  {{/if}}
{{/each}}

{{#if onsubmit}}
  <div class="ui divider"></div>
  {{#form/action-button type="submit" class=_submitClass disabled=disabled loading=working}}{{yield}}{{/form/action-button}}
{{/if}}
