{{#each this.form as |field|}}
  {{#if (not (and field.displayIf (not (get this.model field.displayIf))))}}
    {{#if field.embeddedInput}}
      {{#input/quick-form-input
        field
        this.model
        this.controller
        class=field.class
      }}
        {{input/quick-form-input
          field.embeddedInput
          this.model
          this.controller
          tagName=null
          class=field.class}}
      {{/input/quick-form-input}}
    {{else}}
      {{input/quick-form-input
        field
        this.model
        this.controller
        class=field.class}}
    {{/if}}
  {{/if}}
{{/each}}

{{#if this.onsubmit}}
  <div class="ui divider"></div>
  {{#form/action-button type="submit" class=this._submitClass disabled=this.disabled loading=this.working}}{{yield}}{{/form/action-button}}
{{/if}}
