<div class="form-group">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{input type=type value=value placeholder=placeholder class="form-control" name=valuePath}}
  {{/if}}

  {{#if isValid}}
    <i class="check icon"></i>
  {{/if}}

  <div class="input-error">
    {{#if showMessage}}
      <div class="error">
        {{v-get model valuePath 'message'}}
      </div>
    {{/if}}
  </div>
</div>
