<div class="field">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{input type=type value=value placeholder=placeholder name=valuePath}}
  {{/if}}

  {{#if isValid}}
    <i class="check icon"></i>
  {{/if}}

  {{#if showMessage}}
    <div class="input-error animated fadeIn">
      <div class="error">
        {{v-get model valuePath 'message'}}
      </div>
    </div>
  {{/if}}
</div>
