<li>
  <strong>{{key}}:</strong>
  {{#if this.value.firstObject}}
    <ul>
      {{#each this.value as |subValue|}}
        <li>{{to-string subValue}}</li>
      {{/each}}
    </ul>
  {{else}}
    {{to-string (or (or this.relationship.fullName this.relationship.name) this.value)}}
  {{/if}}
</li>
