<li>
  <strong>{{key}}:</strong>
  {{#if value.firstObject}}
    <ul>
      {{#each value as |subValue|}}
        <li>{{to-string subValue}}</li>
      {{/each}}
    </ul>
  {{else}}
    {{to-string (or (or relationship.fullName relationship.name) value)}}
  {{/if}}
</li>
