{{#if hasRelationship}}
  {{#ui-popup tagName='span' content=popupMessage position="right center"}}
    {{column}}
    <a href='#' {{action 'addAction'}}>
      <i class="exclamation circle icon text-red"></i>
    </a>
  {{/ui-popup}}
{{else}}
  {{#if hasEnumInvalidation}}
    {{#ui-popup tagName='span' content=hasEnumInvalidation position="right center"}}
      <i class="exclamation circle icon text-red"></i>
    {{/ui-popup}}
  {{/if}}
  {{column}}
{{/if}}
