<div class="content">
  {{#link-to "account.employee.index.education" this.model._id class="header employee-metric__name"}}
    {{this.model.fullName}}
  {{/link-to}}
  <div class="meta">
    <span class="employee-metric__job-title">{{this.model.jobTitle}}</span>
  </div>
</div>

<div class="extra content employee-metric__completed">
  <i class="check icon"></i>
  {{this.model.completed}} of {{this.model.total}} assignments completed
</div>
{{#ui-progress percent=this.percentCompleted class="teal indicating bottom attached employee-metric__prog"}}
  <div class="bar"></div>
{{/ui-progress}}
