<div class="ui three stackable cards webinars-list">
  {{#each this.webinars as |webinar|}}
    {{#if (find-by 'webinar' webinar this.authorizations)}}
      <hgroup class="clearfix">
        <h3 class="ui header left floated"> Purchased </h3>
      </hgroup>
    {{/if}}
    <div class="card webinar__card">
      <div class="content">
        <div class="header webinar-card__title">{{webinar.title}}</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Description!!!!!!!!!!</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary webinar-card__description">
                {{webinar.description}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{#if this.p}}
        <div class="extra content">
          <a>
            {{#ember-tooltip
              side="left"
            }}
              90days for ${{webinar.price}}
            {{/ember-tooltip}}
            <i class="small info icon"></i>
          </a>
          <a>
            <i class="ui right floated blue add icon"></i>
          </a>
        </div>
      {{/if}}
    </div>
  {{else}}
    <h4>No webinars available</h4>
    <div class="ui divider"></div>
  {{/each}}
</div>
