{{this.item}}
<span class="right floated">
  <a href="#" {{on "click" (prevent-default (fn this.editItem this.item this.index))}}>
    <i class="edit icon"></i>
  </a>
  <a href="#" {{on "click" (prevent-default (fn this.deleteItem this.item))}}>
    <i class="red close icon"></i>
  </a>
</span>
