<div class="ui two column grid">
  <div class="ui column">
    <h3>Notes:</h3>
    <p>{{this.model.note}}</p>
  </div>
  <div class="ui column right aligned text">
    Status:
    <small class="light text">{{this.model.status}}</small>
  </div>
</div>
