<div class="ui container">
  <h2 class="ui red header"><i class="close icon"></i>This item was cancelled on 7/4/16</h2>
  {{!-- <h2 class="ui green header"><i class="check icon"></i>This item was completed on 7/4/16</h2> --}}
  {{#ui-menu menuClass="pointing"}}
    {{#link-to 'account.action-item.index' class="item"}}
      <i class="square icon"></i>Index
    {{/link-to}}
    {{#link-to 'account.action-item.todo' class="item"}}
      <i class="checkmark box icon"></i>Todos
      <label class="ui left pointing label">4</label>
    {{/link-to}}
    {{#link-to 'account.action-item.discussion' class="item"}}
      <i class="comments icon"></i>Discussion
    {{/link-to}}
    <div class="right menu">
      {{#ui-dropdown class="item icon top right pointing"}}
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Actions</div>
          {{#link-to 'account.action-item.index' class="text-green item"}}
            <i class="check icon"></i>Mark Complete
          {{/link-to}}
          {{#link-to 'account.action-item.index' class="item"}}
            <i class="random icon"></i>Transfer
          {{/link-to}}
          <div class="header">Settings</div>
          {{#link-to 'account.employee.index.edit' class='item'}}<i class="edit icon"></i>Edit{{/link-to}}
          <div class="item"><i class="settings icon"></i>Settings</div>
          <div class="text-danger header">Danger Zone</div>
          <div class="item">
            {{#confirm-modal as |confirm|}}
              <a href="#" class="text-danger" {{action (pipe confirm (action 'delete'))}}><i class="trash icon"></i>Delete Record</a>
            {{/confirm-modal}}
          </div>
        </div>
      {{/ui-dropdown}}
    </div>
  {{/ui-menu}}

  {{outlet}}
</div>
