<div class="ui container">
  <div class="ui pointing menu">
    <LinkTo @route="account.anatomy.index" class="item">
      <i class="list icon"></i>Summary
    </LinkTo>
    <LinkTo @route="account.anatomy.departments.index" class="item">
      <i class="cubes icon"></i>Departments
    </LinkTo>
    <LinkTo @route="account.anatomy.locations.index" class="item">
      <i class="building icon"></i>Locations
    </LinkTo>
    <LinkTo @route="account.anatomy.company-users.index" class="item">
      <i class="users icon"></i>Users
    </LinkTo>
  </div>

  <div class="ui padded raised text segment clearfix">
    {{outlet}}
  </div>
</div>
