<div class="ui container basic segment">
  <UiMenu @menuClass="pointing menu__benefits-page">
    <LinkTo @route="account.benefits.index" class="item">
      <i class="list icon"></i>Summary
    </LinkTo>
    <LinkTo @route="account.benefits.plans" class="item">
      <i class="cubes icon"></i>Plans
    </LinkTo>
    <LinkTo @route="account.benefits.enrollments" class="item">
      <i class="copy icon"></i>Enrollments
    </LinkTo>
    <div class="right menu">
        <UiDropdown @class="item icon top right pointing">
          <i class="wrench icon"></i><i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">Actions</div>
            <a href="benefits/plans/integrations" id="action-item__action--delay" class="item">
              <i class="ellipsis horizontal icon"></i>link a carrier
            </a>
            <a href="#" id="action-item__action--delay" class="item" {{!--{{on "click" add}} --}}>
              <i class="ellipsis horizontal icon"></i>Manually add a plan
            </a>
            <LinkTo @route="account.benefits.plans.contributions.edit-all" class="item"><i class="edit icon"></i>Edit Contributions</LinkTo>
          </div>
        </UiDropdown>
      </div>
  </UiMenu>
  <div class="ui container">
    <div class="ui very padded raised segment animated fadeInUp">
      {{outlet}}
    </div>
  </div>
</div>
