<div class="ui hero cover grey overlay hero__bp">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      Uh oh. It looks like you haven't unlocked this feature yet.
    </h3>
    <p class="hero__subcontent">
      Here you will be able to manage the coverage available, add/edit custom benefits, and quickly view the plans
      available.
    </p>
    <div class="hero__subcontent">
      <p>
        To access GraniteHR's Premium "Benefit Integration" feature, where you can bridge the gap of Benefits and employees.
      </p>
      <LinkTo @route="account.settings.billing" class="ui green button" role="button">
        Unlock Benefits Administration
        <i class="unlock alternate small icon"></i>
      </LinkTo>
    </div>
    <p class="text-center text-sm hero__subcontent">
      <LinkTo @route="index">Back to index</LinkTo>
    </p>
  </div>
</div>