<div class="ui container basic segment">
  <UiMenu @menuClass="pointing menu__benefits-page">
    <LinkTo @route="account.benefits" class="item">
      <i class="list icon"></i>Summary
    </LinkTo>
    <LinkTo @route="account.benefits.plans" class="item">
      <i class="cubes icon"></i>Plans
    </LinkTo>
    <LinkTo @route="account.benefits.enrollments" class="item">
      <i class="copy icon"></i>Enrollments
    </LinkTo>
  </UiMenu>
  <div class="ui container">
    <div class="ui very padded raised segment animated fadeInUp">
      {{outlet}}
    </div>
  </div>
</div>
