<div class="ui container basic segment">
  {{#ui-menu menuClass="pointing menu__employee-page"}}
    {{#link-to "account.employees" class="item"}}
      <i class="list icon"></i>Summary
    {{/link-to}}
    {{#ui-dropdown class="item menu-employee-page__more"}}
      More<i class="dropdown icon"></i>
      <div class="menu">
        {{#link-to "account.education.webinars" class="item"}}
          <i class="mobile icon"></i>Webinars
        {{/link-to}}
      </div>
    {{/ui-dropdown}}
  {{/ui-menu}}
  {{outlet}}
</div>
