<div class="ui container basic segment">
  {{#ui-menu menuClass="pointing menu__education-page"}}
    {{#link-to "account.employees" class="item"}}
      <i class="list icon"></i>Summary
    {{/link-to}}
    {{#link-to "account.education.webinars" class="item"}}
      <i class="video icon"></i>Webinars
    {{/link-to}}
  {{/ui-menu}}
  {{outlet}}
</div>
