<div class="ui container basic segment">
  <UiMenu @menuClass="pointing menu__education-page">
    <LinkTo @route="account.education.index" class="item">
      <i class="list icon"></i>Summary
    </LinkTo>
    <LinkTo @route="account.education.webinars" class="item">
      <i class="video icon"></i>Webinars
    </LinkTo>
  </UiMenu>
  {{outlet}}
</div>
