<div class="ui container">
  <div class="ui pointing menu">
    <LinkTo @route="account.employees.index" class="item">
      <i class="users icon"></i>Employees
    </LinkTo>
    <LinkTo @route="account.employees.changes" class="item">
      <i class="history icon"></i>Changes
      {{#if this.model.changeQueue}}
        <div class="ui left pointing orange tiny label">{{this.model.changeQueue}}</div>
      {{/if}}
    </LinkTo>
    <LinkTo @route="account.employees.messages" class="item">
      <i class="envelope icon"></i>Messages
    </LinkTo>
    <LinkTo @route="account.employees.forms" class="item">
      <i class="list alternate outline icon"></i>Forms
    </LinkTo>
  </div>

  {{outlet}}
</div>
