<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header">
      <div class="ui tiny rounded left floated image">
        <img src="assets/mock/avatars/small/7.png">
      </div>
      <div class="content">
        Lumber Nickelson
        <div class="sub header">
          Chopping Organizer<br />
          Since 2016
        </div>
      </div>
    </h1>
  </hgroup>

  <div class="ui divider"></div>
</div>
