<div class="ui hero cover grey overlay hero__first-steps-cover">
  <div class="ui center aligned container first-steps hero__content">
    <h1 class="ui text-white header first-steps__header">
      Welcome to Granite Human Resources<br />
      <small>
        Here are a few steps you can take to get your company started with Granite
      </small>
    </h1>

    <div class="ui divider"></div>

    <div class="ui stackable three column grid">
      {{#each steps as |step|}}
        {{display/first-steps
          step
          completed=(contains step.key model.company.firstStepsCompleted)
        }}
      {{/each}}
    </div>
  </div>
</div>
