<div class="ui raised padded segment container clearfix hr-resources">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      HR Resources
    </h1>
  </hgroup>

  <div class="ui divider"></div>

  <h3>An online platform for everyday HR questions</h3>
  <p>HR AnswersNow is a platform provided by Wolters Kluwer through Associated Employers. AnswersNow is needed by all size businesses – whether you are a small business owner or a global HR VP – AnswersNow is the single resource that provides expert analysis that’s also easy to use.</p>
  <p>AnswersNow covers all HR compliance issues – onboarding, compensation, employee development & employee relations, safety and HR strategy. It also includes HR best practices – many times taken from interviews with the top HR business professionals – your peers – along with sample policies, forms. It’s all here and easy to access whether you are searching or browsing.</p>

  <h2 id="access-answersnow" class="ui center aligned text header">
    {{! this link must not contain the noreferrer rel attribute!!! }}
    <a href="https://answersnow.cch.com/?U={{this.model}}&P=aemp&C=hrlp_clone@ae.com" target="_blank" rel="noopener noreferrer">Access HR AnswersNow <i class="right arrow icon"></i></a>
  </h2>

  <div class="ui text-white hero grey overlay hero__first-steps-cover">
    <h1 class="ui header center aligned text">Still need help with an HR related question?</h1>
    <p>Our HR experts provide prompt, practical and confidential answers to your day-to-day HR-related questions. You can get free professional assistance on issues such as discipline, discrimination, termination, wage and hour, benefits, recordkeeping, workers’ compensation, compliance, etc. as they occur. Most importantly, we help you think through the intricate human resource problems that are a daily reality in every organization. We help you evaluate where you are and where you want to go.</p>
    <div class="ui stackable two column grid">
      <div class="ui center aligned text column">
        <i class="ui big circular inverted grey mail icon"></i>
        <span class="ui header">
          Email us at <a href="mailto:hrstaff@aehr.org" class="email-link">hrstaff@aehr.org</a>
        </span>
      </div>
      <div class="ui center aligned text column">
        <i class="ui big circular inverted grey phone icon"></i>
        <span class="ui header">
          Call the HR Hotline <a href="tel:4062486178">(406) 248-6178</a>
        </span>
      </div>
    </div>
    <h5 class="ui center aligned text">
      Powered by <a href="https://associatedemployers.org">Associated Employers</a>
    </h5>
  </div> 
</div>
