<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      HR Resources
    </h1>
  </hgroup>

  <div class="ui divider"></div>

  <h3>Resources</h3>

  <div class="ui list">
    help is here
  </div>
  <div class="ui text-white hero grey overlay hero__first-steps-cover">
    <div class="ui center aligned text">
      <h4>Still need help?</h4>
    </div>
    <div class="ui stackable two column grid">
      <div class="ui center aligned text column">
        <i class="ui big circular inverted grey mail icon"></i>
        Email us at <a href="mailto:hrstaff@aehr.org" class="email-link">hrstaff@aehr.org</a>
      </div>
      <div class="ui center aligned text column">
        <i class="ui big circular inverted grey phone icon"></i>
        Call us 406-248-6178
      </div>
    </div>
  </div> 
</div>
