{{elements/company-navigation}}

<div class="ui raised very padded text segment container">
  <div class="ui large feed">
    <div class="event">
      <div class="label">
        <i class="check green icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          <a href="#">
            Sandra V.
          </a>
          completed onboarding for
          <a href="#">Billy Jean</a>
          <div class="date">
            1 Hour Ago
          </div>
        </div>
        <div class="meta">
          <a href="#">
            <i class="user icon"></i>
          </a>

          <a href="#" class="like">
            <i class="thumbs up icon"></i> 2
          </a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="label">
        <i class="check green icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          <a href="#">
            James C.
          </a>
          added a document for
          <a href="#">Scott Chapman</a>
          <div class="date">
            2 Days Ago
          </div>
        </div>
        <div class="extra text">
          <p class="text small"><strong>Duck Sensitivity</strong><br />Understanding ducks can be a hard place in your career. The most important thing for ducks is empathy. Often, quacking can trigger internal emotions and it's important to not beat...</p>
        </div>
        <div class="meta">
          <a href="#">
            <i class="eye icon"></i> View Profile
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
