<div class="ui container">
  {{#ui-menu menuClass="pointing"}}
    {{#link-to 'account.job-description.index' class="item"}}
      <i class="square icon"></i>Summary
    {{/link-to}}
    <div class="right menu">
      {{#ui-dropdown class="item icon top right pointing"}}
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Actions</div>
          <a href="#" class="item" {{action "createCampaign"}}><i class="wizard icon"></i>Hire for this job</a>
          <div class="text-danger header">Danger Zone</div>
          {{#confirm-modal class="item" as |confirm|}}
            <a href="#" id="job__action--delete" class="text-danger" {{action (pipe confirm (action 'delete'))}}>
              <i class="trash icon"></i>Delete Record
            </a>
          {{/confirm-modal}}
        </div>
      {{/ui-dropdown}}
    </div>
  {{/ui-menu}}

  {{outlet}}
</div>
