<div class="ui container">
  <div class="ui pointing menu">
    <LinkTo @route="account.recruiting.index" class="item">
      <i class="user plus icon"></i>Campaigns
    </LinkTo>
    <LinkTo @route="account.recruiting.job-descriptions.index" class="item">
      <i class="list icon"></i>Descriptions
    </LinkTo>

  </div>

  {{outlet}}
</div>
