<div class="ui container">
  <div class="ui pointing menu">
    {{#link-to "account.recruiting.index" class="item"}}
      <i class="user plus icon"></i>Campaigns
    {{/link-to}}
    {{#link-to "account.recruiting.job-descriptions.index" class="item"}}
      <i class="list icon"></i>Descriptions
    {{/link-to}}

  </div>

  {{outlet}}
</div>
