<div class="ui text container">
  <div class="ui pointing menu">
    <div class="item"><i class="settings icon"></i></div>
    <LinkTo @route="account.settings.index" class="item">
      <i class="setting icon"></i>General
    </LinkTo>
    <LinkTo @route="account.settings.billing" class="item">
      <i class="dollar icon"></i>Billing
    </LinkTo>
    <LinkTo @route="account.settings.integrations" class="item">
      <i class="exchange icon"></i>Integrations
    </LinkTo>
    <LinkTo @route="account.settings.templates" class="item">
      <i class="file text outline icon"></i>Templates
    </LinkTo>
    <LinkTo @route="account.settings.user" class="item">
      <i class="user icon"></i>User
    </LinkTo>
  </div>

  <div class="ui padded raised segment">
    {{outlet}}
  </div>
</div>
