{{#unless this.plans }}
  <h3 class="ui header">Setup</h3>
  <h4 class="center aligned text">
    Select a carrier
  </h4>
  <div class="ui four stackable cards carrier-cards">
    {{#each this.model as |carrier|}}
      <div class="ui card carrier-card__plan">
        <div class="content">
          <LinkTo @route="account.benefits.plans.integrations.index.carrier-link" @model={{carrier.key}}>
            <div class="ui tiny rounded image">
              <img src={{carrier.logo}}>
            </div>
          </LinkTo>
        </div>
      </div>
    {{/each}}
  </div>
{{/unless}}

{{#each-in this.plans as |label plans|}}
  <h2>
    {{label}}
  </h2>
  <div class="ui three stackable cards">
    {{#each plans as |plan|}}
      <Benefits::Plan @plan={{plan}} />
    {{/each}}
  </div>
{{/each-in}}
