@granite-grey: #3E464D;
@granite-red: #F47E67;
@granite-offwhite: #FFF6E6;
@granite-blue: #2286C4;
@granite-green: #1ED49A;

@screen-lg:1200px;
@screen-labtop:992px;
@screen-tab: 768px;
@screen-md1: 576px;
@screen-md: 767px;
@screen-sm: 375px;
@screen-xs: 320px;
