# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
TRUMP

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

# Elastic Beanstalk Files
# .elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
# We are using yarn.lock, remove this non-essential file
package-lock.json
bower_components
