<h1 class="ui header titlecased text">
  Editing {{this.model.name}}
  <small class="right floated">
    {{#link-to "account.employee.index.education.certification" this.model class="text-danger"}}
      Cancel
    {{/link-to}}
  </small>
</h1>

<div class="ui divider"></div>

{{#quick-form
  this.currentForm.elements
  this.model
  this
  submitClass="large green fluid"
  onsubmit=(action "save")
}}
  Save Changes
{{/quick-form}}
