{{#ui-modal id=modalId class='basic'}}
  <i class="close icon"></i>
  <div class="header">
    Are you sure?
  </div>
  <div class="content">
    Are you sure you want to move {{applicants.length}} {{inflect-text 'applicant' applicants.length}} into your recruiting pipeline?
  </div>
  <div class="actions">
    <button class="ui inverted red button" {{action 'respond' false}}>
      Cancel
    </button>
    <button class="ui inverted green right labeled icon button" {{action 'respond' true}}>
      Yes
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
