{{#if hasBlock}}
  {{yield startConfirmation}}
{{/if}}

{{#ui-modal name="profile" id=modalId}}
  <div class="header">
    Make sure to close your manual applicant sources!
  </div>
  <div class="content">
    <ul class="ui list">
      {{#each sourcesToClose as |source|}}
        <li>{{source.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="actions">
    <button class="ui inverted red button" {{action 'respond' false}}>
      Cancel
    </button>
    <button class="ui inverted green right labeled icon button" {{action 'respond' true}}>
      Close Job Opening
      <i class="check icon"></i>
    </button>
  </div>
{{/ui-modal}}
