{{#ui-modal id=this.modalId observeChanges=true}}
  <i class="close icon"></i>
  <div class="header">
    {{this.title}}
  </div>
  <div class="content">
    {{yield}}
  </div>
  {{#unless this.hideActions}}
    <div class="actions">
      <button class="ui button" {{action "respond" false}}>
        Ok
      </button>
    </div>
  {{/unless}}
{{/ui-modal}}
