<h2 class="ui right aligned header">
  {{#link-to 'account.action-items.new' class="text-white sub header"}}<i class="plus icon"></i>{{/link-to}}
</h2>
<div class="ui divider"></div>

<div class="clearfix">
  <span class="fields">
    {{#ui-radio id="user-radio" name="feed-source" class="radio__button" value="user" current=feedSource}}
      <label for="user-radio">
        {{ui-popup tagName="i" position="left center" class="user icon" content="Your Cards"}}
      </label>
    {{/ui-radio}}
    {{#ui-radio id="all-radio" name="feed-source" class="radio__button" value="all" current=feedSource}}
      <label for="all-radio">
        {{ui-popup tagName="i" position="left center" class="users icon" content="All Cards"}}
      </label>
    {{/ui-radio}}
  </span>
  <span class="right floated"><a href="#" class="text-white">Priority <i class="down caret icon"></i></a></span>
</div>
<div class="ui divider"></div>

<div class="ui cards">
  {{#each model as |actionItem|}}
    {{list-item/action-item actionItem=actionItem class="ui link fluid raised card"}}
  {{else}}
    <h4 class="text-white center aligned header">No action items available.</h4>
  {{/each}}
</div>
