<div class="ui very padded raised segment animated fadeInUp">
  <h2 class="ui dividing header"><i class="plus icon"></i>Create a new action item</h2>

  <form class="ui form" {{action "save" on="submit"}}>
    {{input/ui-input type='text' id='action-item-title' placeholder='Title'}}
    <div class="field">
      <label for="action-item-title"></label>
    </div>
  </form>
</div>
