{{#if this.computedValue.isPending}}
  <div class="ui active inline loader"></div>
{{else}}
  {{#if this.isRelationship}}
    {{if this.displayKey (get this.computedValue this.displayKey) (to-string this.computedValue)}}
  {{else}}
    {{to-string this.computedValue}}
  {{/if}}
{{/if}}
