<div class="striped-background">
  <div class="ui raised very padded text container segment congrats">
    <i class="green huge thumbs up icon"></i>
    <h1 class="ui header">Congratulations!</h1>
    <h2>Check your inbox for a link to set your password</h2>
  </div>
</div>
