.census__table {
  min-height: 326px;

  > .table {
    border: 0 !important;

    thead tr:first-child > th:last-child {
      border-radius: 0 0;
    }
  }
}

.census__field-selection > .default.text {
  color: @granite-red !important;
}

.census__start-over {
  color: @granite-grey !important;
}

.census__highlight-row {
  background: rgb(255,180,140) !important;
}

.census__highlight-cell {
  background: rgb(233,150,102) !important;
  color: white !important;

  a {
    color: white !important;
  }
}
