.settings__integration-iframe-container {
  .clearfix;
  position: relative;
  width: 100%;
  height: 600px;

  > .settings__integration-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 100%;
    border: none;
  }
}
