<p>
  Templates allow you to customize the behavior and content of Granite.
  {{#unless model}}
    {{#link-to 'account.settings.templates.add'}}Add a new template to get started.{{/link-to}}
  {{/unless}}
</p>

<div class="ui divider"></div>

{{#each-in
  (group-by "category" model.definitionsGrouped)
  as |category groups|
}}
  <h2>{{category}}</h2>
  {{#each groups as |group|}}
    <h3>
      {{group.definition.title}}
      <div class="ui small text right floated">
        {{#if group.template}}
          {{#ui-popup content="Edit current template..."}}
            {{#link-to 'account.settings.templates.edit' group.template.id}}
              <i class="edit icon"></i>Edit
            {{/link-to}}
          {{/ui-popup}}
        {{else}}
          {{#link-to 'account.settings.templates.add' group.definition.key}}
            <i class="asterisk icon"></i>New Customized Template
          {{/link-to}}
        {{/if}}
      </div>
    </h3>
    <p>{{group.definition.description}}</p>
  {{/each}}
{{/each-in}}
