html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;

  &.scrolling.undetached.dimmable.dimmed {
    overflow: hidden !important;

    > .modals {
      overflow: auto !important;
    }
  }
}

body.application__in-account .main {
  background-color: @granite-grey;
}

body .pusher {
  height: auto !important;
  min-height: 100vh !important;
}

body.application__in-account .pusher {
  .three-point-gradient(@granite-blue, lighten(@granite-blue, 5%), darken(@granite-blue, 10%));
  background: @gradient;
  background-color: @granite-grey;
  background-repeat: no-repeat;
}

.application__outlet-wrapper {
  min-height: 95vh;
}

#nprogress {
  > .bar {
    background-color: @granite-green;
  }

  > .spinner > .spinner-icon {
    border-top-color: @granite-green;
    border-left-color: @granite-green;
  }
}


.ui.main > .container.main__dark-text {
  .account__breadcrumb.breadcrumb {
    .divider {
      color: @granite-grey !important;
    }

    .section > a {
      color: @granite-grey !important;
    }
  }

  .text-white,
  .ui.container.basic.segment {
    color: @granite-grey !important;
  }

  .history__year-start {
    color: @granite-grey !important;
  }

  .statistic-item .statistic-value {
    color: lighten(@granite-grey, 20%) !important;
  }
}
