html {
  height: 100%;
}

body {
  min-height: 100%;
}

body.application__in-account {
  .three-point-gradient(lighten(@granite-blue, 40%), @granite-blue, darken(@granite-green, 20%));
  background: @gradient;
  background-repeat: no-repeat;
}
