.text-danger, .text-red {
  color: @granite-red !important;
}

.text-blue {
  color: @granite-blue !important;
}

.text-yellow {
  color: @yellow !important;
}

.text-green {
  color: @granite-green !important;
}

.text-white {
  color: white !important;
}

.ui.light.header {
  color: @gray-light !important;
}

.light.text {
  color: @gray-light !important;
}

@media screen and (max-width:@screen-md) {
  .wrapping.divider.header {
    white-space: normal !important;
  }
}
