.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.aligned.text {
  &.left { text-align: left }
  &.right { text-align: right }
  &.center { text-align: center }
}

.text.small {
  font-size: 0.7em;

  &.very {
    font-size: 0.5em;
  }
}

.floated {
  &.right { float: right }
  &.left { float: left }
}

.clickable {
  cursor: pointer;
}

.monospaced {
  font-family: @fontNameMonospaced;
}

.introjs-fixParent {
  position: inherit !important;
  transform: inherit !important;
}

.limited-pane {
  max-height: 300px;
  overflow-y: auto;
}

.shadow-hover {
  box-shadow: 0 3px 6px fade(@granite-grey, 70%);
  z-index: 1;
  transition: all ease-in-out 0.35s;

  &:hover {
    background-color: lighten(@granite-green, 15%);
    box-shadow: 0 3px 7px fade(@granite-grey, 65%);
  }
}

.vertically-aligned {
  transform: translateY(33%);
}
