{{#if isEmployee}}
  {{display/employee-picture url=model.picture employeeId=model.id class="search-result-item__image"}}
{{/if}}
{{#if _title}}
  <div class="search-result-item__title">
    {{_title}}
  </div>
{{/if}}
{{#if _description}}
  <div class="search-result-item__description">
    {{_description}}
  </div>
{{/if}}
