{{#if model}}
  {{display/employee-picture url=model.picture employeeId=model.id class="search-result-item__image"}}
  <div>
    {{model.fullName}}
  </div>
  <div class="search-result-item__description">
    {{model.jobTitle}}
  </div>
{{/if}}
{{#if model.name}}
  <div class="search__result-item--department">
    <div class="search-result-item__title">
      {{model.name}}
    </div>
  </div>
{{/if}}
