{{#ui-search
  type="category"
  class="ui fluid category search"
  apiSettings=apiSettings
  fields=search.fields
}}
  <div class="ui icon input">
    <input type="text" placeholder="{{placeholder}}" class="prompt">
    <i class="search link icon"></i>
  </div>
  <div class="results"></div>
{{/ui-search}}
{{!-- onSearchQuery=(action (mut query))
onSelect=(action selected) --}}
