<div class="ea-help-link">
  <i class="question circle outline fitted big icon"></i>
  <EmberTooltip @popperOptions={{this.popperOptions}}>
    Questions about HR policy? Contact your local Employer's Association, Associated Employers, at (406) 248-6178.
  </EmberTooltip>
</div>
