<LinkTo @route={{this.fullLink}} class="step">
  {{#if this.step.icon}}<i class="{{this.step.icon}} icon"></i>{{/if}}
  <div class="content">
    <div class="title">{{this.step.title}}</div>
  </div>
</LinkTo>
