{{!-- IF ROW DATA IS A SECTION, MAKE IT A SECTION HEADER --}}
<section>
  <h4>Hello there.</h4>
</section>

{{!-- IF ROW DATA IS ARRAY, DISPLAY THE DATA ACROSS IN CELLS --}}

{{!-- {{#each rowData as |cell|}}
  {{display/report-view-cell cell}}
{{/each}} --}}
