<div class={{bannerClass}}>
  <h4>
  <span class="left floated text"><i class="large exclamation triangle icon"></i></span>
    {{#if subscription.daysLeftInGracePeriod}}
      Your subscription is past due, {{subscription.daysLeftInGracePeriod}} before access is suspended. Update your billing information to avoid interruption.

    {{else if subscription.accountSuspended}}
      Your subscription has been suspended.  Update your billing information to reactivate.

    {{else if subscription.isCancelled}}
      Your subscription has been canceled.  Reactivate your account to regain access.
    {{/if}}
  </h4>
</div>
