{{#link-to step.path}}
  <div class="content">
    <div class="title">
      {{step.title}}
      {{#if step.completed}}
        <i class="check icon"></i>
      {{else}}
        {{#if step.icon}}<i class="{{step.icon}} icon"></i>{{/if}}
      {{/if}}
    </div>
    <div class="description">{{step.description}}</div>
  </div>
{{/link-to}}
