<p class="text-sm">
  <a href="#" {{action (toggle "showVersion" this)}}>
    <i class="eye {{if showVersion 'slash'}} icon"></i>{{if showVersion 'Hide' 'Show'}} version info
  </a>

  {{#if showVersion}}
    <br />{{app-version}}
  {{/if}}
</p>
