<div class="ui raised very padded text segment container animation__complete-pop">
  <div class="content">
    <h1 class="title"><i class="thumbs up icon"></i> Great work! {{this.model.firstName}} is ready to go.</h1>
  </div>
</div>
