<div class="ui raised very padded text segment container animation__onboarding-complete">
  <div class="content">
    <h1 class="title"><i class="thumbs up icon"></i> Great work! {{model.firstName}} is ready to go.</h1>
  </div>
</div>
