{{#if model}}
  <div class="ui basic segment">
    <div class="ui cards">
      {{#each model as |asset|}}
        {{list-item/assigned-asset-item asset=asset employee=employee onUnassign=(action 'unassignAsset')}}
      {{/each}}
    </div>
    {{#if working}}
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    {{/if}}
  </div>
{{else}}
  <div class="ui grey segment">
    <h2 class="header">No Items Assigned, Yet!</h2>
    <h2 class="header">Assign some now<i class="big plus icon"></i></h2>
  </div>
{{/if}}
{{!-- TODO: Add the ability for the plus button to initiate adding assets items. --}}
