{{#if model}}
  <h2 class="ui center aligned text text-white justified header">Future Changes</h2>

  <div class="ui one stackable cards">
    {{#each model as |change|}}
      {{list-item/unapplied-change history=change onApplyNow=(action 'notifyNewEffective')}}
    {{/each}}
  </div>
{{else}}
  <h2 class="center aligned text text-white">No Changes Available</h2>
{{/if}}
