<h2 class="ui header text-white">
  Changes Timeline
  {{#link-to 'account.employee.index.future-changes' class="right floated text-white"}}
    <i class="clock icon"></i>Future Changes<i class="right angle icon"></i>
  {{/link-to}}
</h2>
<h4 class="ui center aligned header">
  {{#ui-popup content="Switch to report view" position="top center"}}
    {{#link-to 'account.employee.index.history-report' class="text-white"}}<i class="file icon"></i>Report View{{/link-to}}
  {{/ui-popup}}
</h4>

<div class="history__timeline clearfix">
  {{display/timeline-group-detail group=selectedGroup groupDisplayOffset=groupDisplayOffset class=(unless selectedGroup 'hidden') onDeselect=(action "deselectGroup")}}

  <div class="history-timeline__events clearfix" style={{timelineStyle}}>
    {{#each model as |historyGroup|}}
      {{list-item/history-group group=historyGroup onSelect=(action "selectGroup")}}
    {{else}}
      <h3 class="ui center aligned header">No history is available for this employee.</h3>
    {{/each}}
  </div>
</div>
