<div class="ui secondary pointing menu">
  <LinkTo @route="account.settings.billing.index" class="item" >Subscription Information</LinkTo>
  <LinkTo @route="account.settings.billing.invoices" class="item">Invoices</LinkTo>
</div>

{{outlet}}
