<div class="ui secondary pointing menu">
  {{#link-to 'account.settings.billing.index' class='item'}}Subscription Information{{/link-to}}
  {{#link-to 'account.settings.billing.invoices' class='item'}}Invoices{{/link-to}}
</div>

{{outlet}}
