<div class="ui secondary pointing menu">
  <LinkTo @route="account.settings.index.index" class="item">Account</LinkTo>
  <LinkTo @route="account.settings.index.processes" class="item">Processes</LinkTo>
  <LinkTo @route="account.settings.index.features" class="item">Features</LinkTo>
  <LinkTo @route="account.settings.index.lists" class="item">Lists</LinkTo>
  <LinkTo @route="account.settings.index.forms" class="item">Forms</LinkTo>
</div>

{{outlet}}
