<div class="ui secondary pointing menu">
  {{#link-to "account.settings.index.index" class="item"}}Account{{/link-to}}
  {{#link-to "account.settings.index.processes" class="item"}}Processes{{/link-to}}
  {{#link-to "account.settings.index.features" class="item"}}Features{{/link-to}}
  {{#link-to "account.settings.index.lists" class="item"}}Lists{{/link-to}}
  {{#link-to "account.settings.index.forms" class="item"}}Forms{{/link-to}}
</div>

{{outlet}}
