<div class="ui secondary pointing menu">
  {{#link-to 'account.settings.index.index' class='item'}}Account{{/link-to}}
  {{#link-to 'account.settings.index.processes' class='item'}}Processes{{/link-to}}
</div>

{{outlet}}
