<div class="ui form">
  <h3 class="ui header">Slate Payroll Exchange</h3>
  <p>
    Granite connects directly to import/export data to/from Slate. To connect with Slate Payroll, click the button below.
  </p>
  <div class="ui divider"></div>
  <div class="field">
    {{#form/integration-button service="slate" class="right labeled icon secondary massive fluid" onNotify=(action "onNotify")}}
      <span class="vertically centered">Connect To Slate Payroll</span> <span class="icon__slate"></span> <i class="random icon"></i>
    {{/form/integration-button}}
  </div>
</div>
