<div ...attributes>
  {{yield
    (hash
      section=(component
        "display/filter-panes/section"
        resetFilter=this.resetFilter
        sendComponentUpdate=this.sendComponentUpdate
      )
    )
  }}
</div>
