<p class="text-sm">
  <a href="#" {{on "click" (prevent-default (toggle "showVersion" this))}}>
    <i class="eye {{if this.showVersion "slash"}} icon"></i>{{if this.showVersion "Hide" "Show"}} version info
  </a>

  {{#if this.showVersion}}
    <br />{{app-version}}
  {{/if}}
</p>
