<form class="ui form container" {{action "save" on="submit"}}>
  <div class="field">
    <label for="department-name">Name</label>
    <Input @type="text" @value={{this.model.name}} @id="department-name" placeholder="Department Name" />
  </div>
  <div class="field">
    <label for="department-code">Code</label>
    <Input @type="text" @value={{this.model.code}} @id="department-code" placeholder="Department Code" />
  </div>
  <div class="ui divider"></div>
  <Form::ActionButton type="submit" class="ui huge fluid green button" @loading={{this.working}}>Add Department</Form::ActionButton>
</form>
<div class="ui divider"></div>
