<div class="ui form">
  <h3 class="ui header">General Account Settings</h3>
  <div class="ui divider"></div>

  <div id="template" class="center aligned">
    {{drop-zone
      url=fileEndpoint
      id=dropzoneId
      class='input__dropzone'
      method='put'
      uploadMultiple=false
      acceptedFiles='image/*'
      maxFiles=1
      autoProcessQueue=false
      dictDefaultMessage='Drop Files or Click to Replace/Add Picture'
      thumbnailWidth='175'
      headers=(hash X-API-Token=auth.token)
      addedfile=(action 'addedFile')
      success=(action 'uploadedFile')
      capture='camera'}}
  </div>

  {{#each model.logoPalette as |color|}}
    <div style="display: inline-block; width: 50px; height: 20px; background-color: {{color}}; border-radius: .8rem; border: 1px solid #CCC;"></div>
  {{/each}}

  {{quick-form
    settingsForm
    model
    this
    tagName='div'}}

  <div class="ui divider"></div>

  <form {{action "saveSettings" on="submit"}}>
    {{#form/action-button
      type="submit"
      class='ui positive fluid huge button'
      loading=working}}
      Save Changes
    {{/form/action-button}}
  </form>
</div>
