<div class="ui raised padded segment container clearfix animated fadeInUp">
  <h1 class="ui header">
    Add {{type}} for {{employee.firstName}}
  </h1>

  <div class="ui divider"></div>

  {{!-- {{elements/x-pagination
    page=(readonly page)
    pages=(readonly pages)
    onchange=(action (mut page))}} --}}
</div>
