<div class="ui raised padded segment container clearfix animated fadeInUp">
  <h1 class="ui header titlecased text">
    Add a new {{this.type}} for {{this.employee.firstName}}
  </h1>

  <div class="ui divider"></div>

  {{#quick-form
    this.currentForm.elements
    this.model
    this
    submitClass="large green fluid"
    onsubmit=(action "save")
  }}
    Add {{this.type}}
  {{/quick-form}}
</div>
