<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Education, Certifications &amp; Training
    </h1>

    <div class="right aligned text floated menu__actions">
      {{#ui-dropdown class="right floated top pointing inline"}}
        <h2 class="ui inline header"><a href="#" id="add-employee-trigger"><i class="plus icon"></i></a></h2>
        <div class="menu">
          <h6 class="header">Add a new...</h6>
          {{#link-to "account.employee.index.education.add" (query-params type="certification") class="item"}}
            <i class="icons">
              <i class="id card icon"></i>
              <i class="corner add icon"></i>
            </i> Certification
          {{/link-to}}
          {{#link-to "account.employee.index.education.add" (query-params type="training assignment") class="item"}}
            <i class="icons">
              <i class="graduation cap icon"></i>
              <i class="corner add icon"></i>
            </i> Training Assignment
          {{/link-to}}
          {{!-- {{#link-to "account.employee.index.education.add" (query-params type="education") class="item"}}
            <i class="icons">
              <i class="text file icon"></i>
              <i class="corner add icon"></i>
            </i> Education Document
          {{/link-to}} --}}
        </div>
      {{/ui-dropdown}}
    </div>
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided link items">
    {{!-- {{#each model as |assignment|}}
      {{list-item/employee-document-item
        assignment=assignment
        onNotify=(route-action "notify")
      }}
    {{else}}
      <h2 class="ui center aligned header">No file assignments available.</h2>
    {{/each}} --}}
  </div>

  {{!-- {{elements/x-pagination
    page=(readonly page)
    pages=(readonly pages)
    onchange=(action (mut page))}} --}}
</div>
