<hgroup class="clearfix">
  <h1 class="ui header">Plans</h1>
</hgroup>
<div class="ui divider"></div>
<h3 class="ui header">Setup</h3>
<form class="ui form" {{on "submit" (prevent-default this.linkCarrier)}}>
  {{component
    this.carrierRoute
    onDataUpdate=(set this.carrierData _)
    onValidityChange=(set this.carrierDataIsValid _)}}
  <div class="ui divider"></div>
  <Form::ActionButton
    type="submit"
    class="ui massive fluid green button"
    @disabled={{not this.carrierDataIsValid}}
    @loading={{this.data.statuses.carrierLink.isLoading}}
  >
    Complete Carrier Link
  </Form::ActionButton>
</form>
