<div class="ui relaxed divided list">
  <h2 class="ui center aligned header">Nothing to see here.</h2>
  <h5 class="center aligned text header">There are no benefits set up. To offer benefit administration through Granite,
    <LinkTo @route="account">add a carrier</LinkTo> or <LinkTo @route="account">manually add plans</LinkTo>.
  </h5>
</div>


