<hgroup class="clearfix">
  <h1 class="ui header">Plans</h1>
</hgroup>
<div class="ui divider"></div>
<h3 class="ui header">Setup</h3>

<h4 class="center aligned text">
  Select a carrier
</h4>

<div class="ui four stackable cards carrier-cards">
  {{#each this.model as |carrier|}}
  <div class="ui card carrier-card__plan">
    <div class="content">
      <LinkTo @route="account.benefits.carrier-link" @model={{carrier.key}}>
      <div class="ui tiny rounded image">
        <img src={{carrier.logo}}>
      </div>
      </LinkTo>
    </div> 
    </div>
  {{/each}}
</div>
