{{!--
{{#if this.add}}
<h5>Plans</h5>
<div class="ui divider"></div>
<h3>setup</h3>

Select a carrier
{{#each this.model as |carrier|}}
  {{component 'benefits/plans/this.model.key' model=carrier}}
{{/each}}
{{else}}
  show diagram 
{{/if}}
--}}


<hgroup class="clearfix">
  <h1 class="ui header">Plans</h1>
</hgroup>
<div class="ui divider"></div>
<h3 class="ui header">Setup</h3>

<h4 class="center aligned text">
  Select a carrier
</h4>

{{!-- <div class="ui container"> --}}
<div class="ui four stackable cards benefits-cards">
  {{#each this.model as |carrier|}}
  <div class="ui card benefits-card__plan">
    <div class="content">
      <div class="ui tiny rounded image">
        <img src="https://granitehr-dev.s3.amazonaws.com/uploads/5d6e7d2fd41c6c27661eb678/5f08c43009c42358fdc6fc3e_83SDcMJFX8szueppRoV3.png">
      </div>
    </div> 
    </div>
  {{/each}}
</div>
{{!-- </div> --}}

{{!-- <div class="ui card webinar__card">
    <div class="content">
    <img src="https://granitehr-dev.s3.amazonaws.com/uploads/5d6e7d2fd41c6c27661eb678/5f08c43009c42358fdc6fc3e_83SDcMJFX8szueppRoV3.png">
    </div>
</div> --}}
