{{#if this.actionString}}
  <h3 class="project-activity__action {{this.actColor}}">{{this.model.title}} {{this.actionString}}.</h3>
{{/if}}

{{#if this.projectSlug}}
  <p>
    {{#link-to "account.action-item" this.projectSlug}}
      Go to project
    {{/link-to}}
  </p>
{{/if}}
