<div class="ui very padded raised segment animated fadeInUp">
  <RecruitingStatusBar @campaign={{jobOpening}} />
  <h2 class="ui header">
    Recent Activity
  </h2>

  {{#if model}}
    {{ember-chart
      type="line"
      data=model
      options=summaryOpts
    }}
  {{else}}
    <h2 class="light text center aligned">Not enough recent data to show your summary.</h2>
  {{/if}}
</div>
