<div class="ui very padded raised segment animated fadeInUp">
  <RecruitingStatusBar @campaign={{this.jobOpening}} />
  <h2 class="ui header">
    Recent Activity
  </h2>

  {{#if this.model}}
    <EmberChart @type="line" @data={{this.model}} @options={{this.summaryOpts}} />
  {{else}}
    <h2 class="light text center aligned">Not enough recent data to show your summary.</h2>
  {{/if}}
</div>
