<div class="ui very padded raised segment animated fadeInUp">
  <h2 class="ui header">
    Recent Activity
  </h2>

  {{#if model.datasets.length}}
    {{ember-chart
      type='line'
      data=model
      options=summaryOpts
    }}
  {{else}}
    <h2 class="light text center aligned">Not enough recent data to show your summary.</h2>
  {{/if}}
</div>
