<div class="ui very padded raised segment animated fadeInUp">
  <h2 class="ui clearfix header">
    {{model.name}}
  </h2>

  {{ember-chart
    type='bar'
    data=summaryData
    options=summaryOpts
  }}
</div>
