<div class="ui very padded raised segment animated fadeInUp">
  <h2 class="ui clearfix header">
    Job Application for {{model.person.firstName}}
  </h2>
  <p class="light text">Created {{time-ago model.created}} on {{time model.created 'M/D/YY'}}</p>
</div>
