<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      New Position
    </h1>
    <h4 class="right floated"><LinkTo @route="account.recruiting.job-descriptions.new">Add a job description...</LinkTo></h4>
  </hgroup>
  <div class="ui divider"></div>

  {{#quick-form
    this.form
    this.model
    this
    working=this.working
    submitClass="huge fluid green"
    onsubmit=(action "save" this.model)
    disabled=(or (not this.model.name) (not this.model.job))
  }}
    Save and Continue
  {{/quick-form}}

</div>
