<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      New Position
    </h1>
  </hgroup>
  <div class="ui divider"></div>

  {{#quick-form
    form
    model
    this
    working=working
    submitClass="huge fluid green"
    onsubmit=(action 'save' model)}}
    Save and Continue
  {{/quick-form}}

</div>
