<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      New Position
    </h1>
    <h4 class="right floated">{{#link-to 'account.recruiting.job-descriptions.new'}}Add a job description...{{/link-to}}</h4>
  </hgroup>
  <div class="ui divider"></div>

  {{#quick-form
    form
    model
    this
    working=working
    submitClass="huge fluid green"
    onsubmit=(action 'save' model)
    disabled=(or (not model.name) (not model.job))
  }}
    Save and Continue
  {{/quick-form}}

</div>
