<h2 class="pipeline-stage__title">
  {{this.stage.name}}
</h2>

{{#drag-sort-list
  items=this.candidates
  dragEndAction=(action this.dispatchReorder this.stage.id)
  classNames="pipeline-stage__cards"
  childClass="stage-cards__card"
  draggingEnabled=(not this.disableDragging)
  as |jobApp|
}}
  {{#if jobApp.id}}
    {{card-pipeline/stage-card
      jobApp
      this.stages
      newScheduledMeeting=this.newScheduledMeeting
      moveAppToStage=this.moveAppToStage
      onUnDisqualify=this.onUnDisqualify
      onDisqualify=this.onDisqualify
      onUnHire=this.onUnHire
      onOnboardCandidate=this.onOnboardCandidate
      onLinkSharing=this.onLinkSharing
      onSchedule=this.onSchedule
      onAddLabel=this.onAddLabel}}
  {{/if}}
{{/drag-sort-list}}
