<h2 class="pipeline-stage__title">
  {{stage.name}}
</h2>

{{#drag-sort-list
  items=candidates
  dragEndAction=(action dispatchReorder stage.id)
  classNames="pipeline-stage__cards"
  childClass="stage-cards__card"
  draggingEnabled=(not disableDragging)
  as |jobApp|
}}
  {{#if jobApp.id}}
    {{card-pipeline/stage-card
      jobApp
      stages
      moveAppToStage=moveAppToStage
      onUnDisqualify=onUnDisqualify
      onDisqualify=onDisqualify
      onUnHire=onUnHire
      onOnboardCandidate=onOnboardCandidate
      onSchedule=onSchedule}}
  {{/if}}
{{/drag-sort-list}}
