<h2 class="pipeline-stage__title">
  {{stage.name}}
  {{#ui-dropdown class="item icon top left stage-title__settings"}}
    <i class="setting icon"></i>
    <div class="menu">
      {{#link-to 'account.job-opening.campaign.settings' class="item"}}Some item{{/link-to}}
    </div>
  {{/ui-dropdown}}
</h2>

{{#sortable-group tagName="ul" classNames="pipeline-stage__cards" onChange="reorderItems" as |group|}}
  {{#each candidates as |application|}}
    {{#sortable-item tagName="li" classNames="stage-cards__card" model=application group=group}}
      {{card-pipeline/stage-card
        application
        stages
        moveAppToStage=moveAppToStage}}
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}
