<div class="ui divided items">
  {{#each model.documents as |file|}}
    <span class="item">
      {{list-item/document-item
        file
        deleteAction=(action 'removeDocument')
        confirmDeleteContent="Are you sure you want to remove this document?"
      }}
    </span>
  {{else}}
    <h2 class="ui center aligned header">No documents available.</h2>
  {{/each}}
</div>

{{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
