<form class="ui form">
  {{braintree-dropin token=model.token action='submit' braintreeOptions=braintreeConfig}}
  <div class="ui divider"></div>
  <button type="submit" class="ui massive fluid green button" {{action 'test'}}>Start 14-day trial and setup Granite</button>
</form>
