<div class="striped-background">
  <div class="ui raised very padded text container segment congrats">
    <div class="ui icon message">
      <i class="green massive thumbs up icon"></i>
      <div class="content">
        <div class="header">Congratulations, you're all signed up!</div>
        <p>Check your inbox for a link to set your password</p>
      </div>
    </div>
  </div>
</div>
