<div class="ui raised margin-top very padded text segment container animation__complete-pop">
  <div class="content">
    <h1 class="title"><i class="thumbs up icon"></i> Your company is almost ready to go!</h1>
    <h4>Check your email for instructions on getting started.</h4>
  </div>
</div>
