<form {{action "saveAndContinue" on="submit"}}>
  <h2 class="ui horizontal divider header">Equal Employment Opportunity</h2>

  <h3 class="center aligned light text header">
    {{#if auth.user.company.collectEEO}}
      <i class="check icon"></i>
      Your company has elected to collect Equal Employment Opportunity data, so Granite will attempt to collect this information during the application process.
    {{else}}
      <i class="remove circle outline icon"></i>
      We will not collect Equal Employment Opportunity data for this job. If your company is an applicable employer, you may adjust your EEO settings in {{#link-to 'account.settings'}}General Settings{{/link-to}}.
    {{/if}}
  </h3>

  <div class="ui divider"></div>

  {{#form/action-button
    type="submit"
    class="ui huge fluid green button"
    loading=working}}
      Next
  {{/form/action-button}}
</form>
