<footer class="elements__footer">
  <p>&copy; {{time this.now "YYYY"}} Granite HR by Associated Employers. All Rights Reserved. Made with <i class="heart icon"></i>in Montana.</p>
  <p>
    <ul class="footer__link-list">
      <li class="item">
        <LinkTo @route="terms-of-service">
          Terms of Service
        </LinkTo>
      </li>
    </ul>
  </p>
  <Display::VersionInfo />
</footer>
