<td>
  {{#if duplicate}}
    <div class="ui red ribbon label">
      {{#ui-popup
        content=(concat
          matchReason
          ' match'
        )
      }}
        Possible duplicate of
        <a href="#" {{action "linkToDuplicate"}}>
          {{duplicate.text}}
        </a>
      {{/ui-popup}}
    </div>
  {{/if}}
  <div>
    {{ui-checkbox
      class=""
      label=""
      checked=isSelected
      onChange=(action onToggle)
    }}
  </div>
</td>
{{yield record}}
