{{#link-to "account.employee" this.participant class="ui image label"}}
  {{display/employee-picture url=this.participant.picture employeeId=this.participant.id}}
  {{this.participant.fullName}}
  {{#if (eq this.participant.id this.owner.id)}}
    <div class="detail">Owner</div>
  {{/if}}
{{/link-to}}
