{{#link-to "account.employee" participant class="ui image label"}}
  {{display/employee-picture url=participant.picture id=model.id}}
  {{participant.fullName}}
  {{#if (eq participant.id owner.id)}}
    <div class="detail">Owner</div>
  {{/if}}
{{/link-to}}
