{{#if model.logo}}
  <img src={{model.logo}} alt="Logo" class="ui mini image applicant-source-item__image" />
{{/if}}
<div class="content">
  <div class="header">
    {{ui-checkbox
      class="checkbox"
      checked=(readonly selected)
      label=model.name}}
  </div>
  {{#if model.costPerCycle}}
    <div class="ui orange right floated horizontal label">${{model.costPerCycle}}/Billing Cycle</div>
  {{/if}}
  <div class="meta">
    <span>{{model.description}}</span>
  </div>

  <div class="extra">

  </div>
</div>
