<div class="content comment">
  <div class="summary">
    <h6 class="ui horizontal divider header">{{this.comment.commenter.firstName}} - {{time-ago this.comment.created}}</h6>
    <p>{{this.comment.text}}</p>
  </div>
  <div class="meta">
    <div class="date">
      {{time this.comment.created "M/D/YY h:mma"}}
    </div>
  </div>
</div>
