{{or model.title model.file.title}}
({{or model.extension model.file.extension}})
{{#if model.reason}}
  <span>
    {{ember-tooltip
      side="right"
      popperContainer="body"
      text=model.reason}}
    <i class="blue text question circle icon"></i>
  </span>
{{/if}}
<span class="right floated">
  <a href="#" {{action addAssignment (or model.file model)}}>Assign</a>
</span>
