<strong>{{this.model.file.title}} ({{this.model.file.extension}})</strong>

<div class="ui mini form right floated">
  {{#if this.isPendingState}}
    <div class="ui mini active inline loader"></div> Saving...
  {{else}}
    <div class="small field">
      {{#ui-checkbox
        class="small"
        checked=this.model.visibleToEmployee
        onChange=(action
          (pipe
            (action (mut this.model.visibleToEmployee))
            (action this.onChange this.model)
          )
        )
      }}
        <label>
          Visible To Employee
        </label>
      {{/ui-checkbox}}
    </div>
    <div class="small field">
      {{#ui-checkbox
        class="small"
        disabled=(not this.model.visibleToEmployee)
        checked=this.model.signatureRequired
        onChange=(action
          (pipe
            (action (mut this.model.signatureRequired))
            (action this.onChange this.model)
          )
        )
      }}
        <label>
          Require Signature
        </label>
      {{/ui-checkbox}}
    </div>
  {{/if}}
</div>

<div class="small text">
  <a href="#" class="text-danger" {{action this.onRemove this.model}}><i class="minus icon"></i>Remove Assignment</a>
</div>
