<div class="ui fluid card">
  <div class="content">
    <h3>
      Employee record #{{x-inc index}}
      {{#if missingRequiredFields}}
        {{#ui-popup tagName="span" position="right center" content=missingRequiredFields}}
          <i class="exclamation circle icon text-red"></i>
        {{/ui-popup}}
      {{/if}}
    </h3>
    <ul>
      {{#each-in dryRunRecord as |key value|}}
        {{census/dry-run-employee-relationship key=key value=value availableFields=availableFields}}
      {{/each-in}}
    </ul>
  </div>
</div>
