<div class="ui fluid card">
  <div class="content">
    <h3>
      Employee record #{{x-inc index}}
      {{#if missingRequiredFields}}
        <i class="exclamation circle icon text-red">
          {{ember-tooltip
            side="right"
            popperContainer="body"
            text=missingRequiredFields}}
        </i>
      {{/if}}
    </h3>
    <ul>
      {{#each-in dryRunRecord as |key value|}}
        {{census/dry-run-employee-relationship key=key value=value availableFields=availableFields}}
      {{/each-in}}
    </ul>
  </div>
</div>
