{{#each-in model.customFields as |key value|}}
<a href="#" class="text-danger" {{action 'removeEmployeeCustomFieldName' key value}}><i class="trash icon"></i>Remove</a>
  <div class="ui green segment clearfix">
    <p class="left floated text">
      {{key}}
    </p>
    <p class="right floated text">
      {{value}}
    </p>

  </div>

{{/each-in}}
