{{#if hasBlock}}
  {{yield model}}
{{else}}
  <div class="header">{{model.title}}</div>
  <div class="meta">
    <span class="ui small text right floated">Created: {{time model.created}}</span>
  </div>
  <div class="extra">
  </div>
{{/if}}
