{{#link-to "account.employees.messages.thread" model.id class=linkClass}}
  <h4 class="ui header message-thread__thread-title">
    {{participantsCondensed}}
    <div class="minimal margin lightly weighted header message-thread__last-message">
      {{#if lastMsg.content}}
        {{lastMsg.content}}
      {{else if lastMsg.file}}
        <i class="paperclip icon"></i>Attachment
      {{/if}}
    </div>
  </h4>
{{/link-to}}
