<a href="#" class="item">
  {{!-- {{#link-to "account.employee.index.education.certification" model.id class="item"}} --}}
  <div class="content">
    <h3 class="header">
      {{this.model.name}}
    </h3>
    <div class="meta">
    </div>
  </div>
  <div class="right content">
    <span class="ui small text">Added {{time-ago this.model.created}} by {{this.model.creator.fullName}}</span>
  </div>
  {{!-- {{/link-to}} --}}
</a>
