<a href="#" class="item" {{action "toggle"}}><i class="large sidebar icon"></i></a>
<div class="right menu">
  {{!-- {{! TODO: Hook this up to actual notifications ;) }}
  <a href="#" class="item">
    <i class="fitted bell icon"></i>
    <div class="ui red left pointing label">2</div>
  </a> --}}

  {{#ui-dropdown class="item company-logo-dropdown"}}
    <div class="company-logo" style={{logoUrl}}>
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Signed in as {{auth.user.firstName}}</div>
      {{#link-to 'account.settings' class="item"}}<i class="settings icon"></i>Settings{{/link-to}}
      <a href="#" class="item" {{action "logout"}}><i class="sign out alternate icon"></i>Sign Out</a>
    </div>
  {{/ui-dropdown}}
</div>
