<div class="item">
  <i class="large sidebar icon"></i>
</div>
<div class="right menu">
  <div class="item">
    <img src="https://upload.wikimedia.org/wikipedia/en/9/93/Billings_Clinic_logo.jpg" alt="Company Logo">
  </div>
</div>
