<p>&copy; {{time this.now "YYYY"}} Granite HR by Associated Employers. All Rights Reserved.</p>
<p>
  <ul class="footer__link-list">
    <li class="item">
      {{#link-to "terms-of-service"}}
        Terms of Service
      {{/link-to}}
    </li>
  </ul>
</p>
{{display/version-info}}
