<div class="header item nav__main-logo">
  {{#link-to 'index'}}
    <div class="logo"></div>
    <div class="logo-text logo-link">Granite HR</div>
  {{/link-to}}
</div>

{{#if topLevel}}
  <div class="right menu">
    <div class="item ">
      {{#link-to 'about' class='about-link'}}About{{/link-to}}
    </div>
    <div class="item">
      {{#link-to 'pricing' class='pricing-link'}}Pricing{{/link-to}}
    </div>
    <div class="item">
      {{#link-to 'features' class='features-link'}}Features{{/link-to}}
    </div>
    <div class="item">
      {{#link-to 'contact' class='contact-link'}}Contact{{/link-to}}
    </div>
    {{#if auth.authenticated}}
      <div class="item">
        {{#link-to 'account' class="ui outlined blue button"}}Go To Dashboard{{/link-to}}
      </div>
    {{else}}
      <div class="item">
        <div class="ui buttons">
          {{#link-to 'login' class="ui blue button login-link"}}Log in{{/link-to}}
          <div class="or"></div>
          {{#link-to 'signup' class="ui green button signup-link"}}Sign Up{{/link-to}}
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
