<div class="header item nav__main-logo">
  {{#link-to "index"}}
    <div class="logo"></div>
    <div class="logo-text">Granite HR</div>
  {{/link-to}}
</div>

{{#if this.topLevel}}
  <div class="right menu">
    <div class="item">
      {{#link-to "about"}}About{{/link-to}}
    </div>
    <div class="item">
      {{#link-to "our-product"}}Our Product{{/link-to}}
    </div>
    <div class="item">
      {{#link-to "pricing"}}Pricing{{/link-to}}
    </div>
    <div class="item">
      {{#link-to "contact"}}Contact{{/link-to}}
    </div>
    {{#if this.auth.authenticated}}
      <div class="item login_or_dashboard">
        {{#link-to "account" class="ui outlined blue button"}}Go To Dashboard{{/link-to}}
      </div>
    {{else}}
      <div class="item login_or_dashboard">
        <div class="ui buttons">
          {{#link-to "login" class="ui blue button"}}Log in{{/link-to}}
          <div class="or"></div>
          {{#link-to "signup" class="ui green button"}}Sign Up{{/link-to}}
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
