<hgroup>
  <h2 class="ui header">
    New Corrective Action For Issue
    {{#link-to 'account.employee.index.counseling.issue' class="right floated text text-danger"}}
      <i class="remove icon"></i>
    {{/link-to}}
  </h2>
</hgroup>
<div class="ui divider"></div>

{{quick-form
  form
  model
  this
  tagName='div'}}

<div class="ui divider"></div>
<form {{action "save" model on="submit"}}>
  {{#form/action-button type="submit" class='ui positive fluid huge button' loading=working}}Save Corrective Action{{/form/action-button}}
</form>
