<div class="ui very padded raised segment animated fadeInUp">
  <div class="ui comments">
    <form class="ui reply form" {{action "comment" on="submit"}}>
      <div class="field">
        {{input/comment-box value=this.commentText}}
      </div>
      <div class="field right aligned text">
        <button type="submit" class="ui blue right labeled submit icon button">
          Comment
          <i class="comment icon"></i>
        </button>
      </div>
    </form>

    <h3 class="ui dividing header">Comments</h3>
    {{#each this.model as |comment|}}
      {{list-item/discussion-comment-item comment}}
    {{else}}
      <h3 class="center aligned text header">No comments available.</h3>
    {{/each}}
  </div>
</div>
