<div class="ui very padded rasied segment">
  <h2 class="ui header">
    Todo
    <small class="right floated">
      Developer Recruiting Project
    </small>
  </h2>

  <h3 class="ui dividing header">Your Todo</h3>
  <div class="ui very relaxed divided list">
    <div class="item">
      <h3 class="header content">
        {{#ui-popup content="Mark as completed" tagName="span" position="top center"}}
          <a href="#"><i class="square outline icon"></i></a>
        {{/ui-popup}}
        Review 20 applicants
        <small class="right floated meta"><strong>Assigned</strong> to you by Scott 1 month ago</small>
      </h3>
    </div>
  </div>


  <h3 class="ui dividing header">All Todo Items</h3>
  <div class="ui very relaxed divided list">
    <div class="item">
      <h4 class="header content">
        {{#ui-popup content="Mark as completed" tagName="span" position="top center"}}
          <a href="#"><i class="square outline icon"></i></a>
        {{/ui-popup}}
        Select candidate
        <small class="right floated meta"><strong><i class="exclamation icon"></i>Needs owner</strong></small>
      </h4>
    </div>
    <div class="item">
      <h4 class="header content">
        {{#ui-popup content="Mark as completed" tagName="span" position="top center"}}
          <a href="#"><i class="square outline icon"></i></a>
        {{/ui-popup}}
        Interview candidates
        <small class="right floated meta">James <strong>assigned</strong> this to themself 3 days ago</small>
      </h4>
    </div>
    <div class="item">
      <h4 class="header content">
        {{#ui-popup content="Mark as completed" tagName="span" position="top center"}}
          <a href="#"><i class="square outline icon"></i></a>
        {{/ui-popup}}
        Review 20 applicants
        <small class="right floated meta"><strong>Assigned</strong> to you by Scott 1 month ago</small>
      </h4>
    </div>
    <div class="item">
      <h4 class="header content">
        <a href="#"><i class="checkmark box icon"></i></a>
        <s>Post to Craigslist</s>
        <small class="right floated meta"><strong>Completed</strong> by Scott 2 months ago on 4/19/16</small>
      </h4>
    </div>
    <div class="item">
      <h4 class="header content">
        <a href="#"><i class="checkmark box icon"></i></a>
        <s>Start campaign</s>
        <small class="right floated meta"><strong>Completed</strong> by James 3 months ago on 3/1/16</small>
      </h4>
    </div>
  </div>
</div>
