<div class="ui very padded rasied segment animated fadeInUp">
  {{#if userTodos}}
    <div class="ui padded green segment">
      <h2 class="ui header"><i class="user icon"></i>Your Todo Items</h2>
      <div class="ui very relaxed divided list">
        {{#each userTodos as |todo|}}
          {{list-item/todo-item todo onStatusChange=(action "changeCompletedStatus")}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  <h3 class="ui header"><i class="users icon"></i>All Todo Items</h3>
  <div class="ui very relaxed divided list">
    {{#each model.checklist as |todo|}}
      {{list-item/todo-item todo onStatusChange=(action "changeCompletedStatus")}}
    {{else}}
      <h4 class="center aligned header">No todos available.</h4>
    {{/each}}
  </div>
</div>
