.carrier-cards {
  justify-content: center;

  .carrier-card {
    height: 150px;

    > .content > a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: @gray;
    }

    > .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.plan-groups {
  > section.plan-groups__group:not(:last-child) {
    margin-bottom: 2em;
    padding-bottom: 3em;
    border-bottom: 1px solid @gray-lighter;
  }
}

.hero__bp {
  background-image: url('https://granitehr-dev.s3.amazonaws.com/uploads/5d6e7d2fd41c6c27661eb678/5f2829c786b603162e6da836_IEYFJnIxVwuc66qyDkg2.jpg');
}
