.carrier-cards{
  justify-content: center !important;
  .carrier-card__plan{
    width: 10% !important;
  }
}

.carrier_logo{
  border-width: thin !important;
  border: solid;
  border-color: black;
  padding: .5em;
}