.unbordered {
  border: none !important;
}

.statistic-container {
  margin: 0 !important;
  padding: 0 !important;
}

.statistic-item {
  margin: 40px 0 40px 0 !important;

  .statistic-value {
    text-transform: capitalize !important;
    color: lighten(@granite-blue, 40%) !important;
  }
  @media screen and (max-width:768px) {
    margin: 10px 0 10px 0 !important;
  }
}

.visit__slate {
  position: absolute;
  bottom: 0;
  right: 0;
}

.employee-index-container {
  border: none !important;

  &.employee__index-container--minimal {
    .ui.image {
      width: 60px;

      .ui.circular.segment {
        padding: 0;
      }

      .dimmer .content {
        font-size: .4em;
      }
    }

    .employee-basic-meta {
      font-size: .8em;

      .sub.header {
        font-size: .6em;
      }
    }

    .email-contact-icon-hover,
    .phone-contact-icon-hover {
      font-size: 1.6em;
    }
  }

  .employee-header-group {
    @media screen and (max-width:768px) {
      margin: 0 auto !important;
      float: none !important;

      .employee-image {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }

    .employee-basic-meta {
      text-align: left;
      padding: 0 !important;

      @media screen and (max-width:768px) {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .contact-column > .contact-container {
    div.phone-contact-icon {
      display: inline-block;
      margin: 0 1em 1em 0;

      .phone-contact-icon-hover {
        box-shadow: 3px 6px 5px 0 fade(@granite-grey, 70%);
        z-index: 1;
        transition: all ease-in-out .35s;

        &:hover {
          background-color: lighten(@granite-green, 15%)!important;
          box-shadow: 0 3px 7px fade(@granite-grey, 65%)!important;
        }
      }
    }

    div.email-contact-icon {
      display: inline-block;
      margin-bottom: 1em;

      .email-contact-icon-hover {
        box-shadow: 3px 6px 5px 0 fade(@granite-grey, 70%);
        z-index: 1;
        transition: all ease-in-out .35s;

        &:hover {
          background-color: lighten(black, 35%)!important;
          box-shadow: 0 3px 7px fade(@granite-grey, 65%)!important;
        }
      }
    }
  }
}

.no-info-header {
  transform: translateY(-70%);

  @media screen and (max-width:992px) {
    transform: translateY(-30%);
  }
}

.hover-circular {
  position: relative;
  border-radius: 50% !important;
}
