.th__vertical-table-header {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.payment-image {
  display: inline-block !important;
  margin-right: 0.5em;
}

.highlight-invoice-row {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.payment-date {
  padding-left: .5em;
}

@media print {
  .hide-from-invoice-print {
    visibility: hidden;
    display: none;
  }
}

.transaction-item {
  transition: all .3s ease-in-out;
}

.transaction-item:hover {
  background-color: fade(@granite-blue, 20%);
}

.transaction-item--canceled {
  opacity: .5;
  text-decoration: line-through;
}
