<StatefulIntroJs @user={{this.auth.user}} @steps={{this.intros}} @start-if={{true}} @hintKey="job-description-new" />

<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      New Job Description
    </h1>
  </hgroup>
  <div class="ui divider"></div>

  {{#quick-form
    this.form
    this.model
    this
    working=this.working
    submitClass="huge fluid green"
    onsubmit=(action "save" this.model)
    disabled=(or (not this.model.category) (not this.model.title))
  }}
    Save Job
  {{/quick-form}}
</div>
