<ul class="features-list">
  {{#each features as |feat|}}
    <li class="{{if (eq feat.text feature.text) 'feature--is-selected'}}">
      <a href="#" {{action "selectFeature" feat}}>{{feat.text}}</a>
    </li>
  {{/each}}
</ul>

<div class="features-screenshot">
  <img src="assets/images/{{feature.screen}}" />
</div>
