{{#each-in model.customFields as |attribute|}}
   <div class="field">
     {{#input/custom-field class="custom-field-input" object=model.customFields attribute=attribute}}
       <a href="#" class="text-danger" {{action 'removeEmployeeCustomFieldName' attribute}}><i class="trash icon"></i>Remove</a>
      {{/input/custom-field}}
  </div>
{{/each-in}}
