<div class="ui raised padded segment container clearfix animated fadeInUp">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Edit Job Description
    </h1>
  </hgroup>
  <div class="ui divider"></div>

  {{input/rich-text
    value=model.description
    onChange=(action (mut model.description))
  }}

  <div class="ui divider"></div>

  <form {{action "save" model on="submit"}}>
    {{#form/action-button type="submit" class="ui huge fluid green button" loading=working disabled=disableSubmit}}Save{{/form/action-button}}
  </form>
</div>
