<div class="content">
  <div class="clearfix">
    {{#if this.imagePreview}}
      <img class="ui small rounded image left floated" alt="" src={{this.model.url}}>
    {{/if}}

    {{#if this.model.description}}
      <h4>{{this.model.description}}</h4>
    {{/if}}
  </div>

  {{#if this.fileAssignments}}
    <div class="ui divider"></div>
    <h3>Assignees</h3>
    {{#each this.fileAssignments as |assignment|}}
      {{list-item/file-assignment assignment=assignment}}
    {{/each}}
  {{/if}}
</div>
