<div class="content">
  <div class="clearfix">
    {{#if imagePreview}}
      <img class="ui small rounded image left floated" alt="" src="{{model.url}}">
    {{/if}}

    {{#if model.description}}
      <h4>{{model.description}}</h4>
    {{/if}}
  </div>

  <hr>

  {{#if fileAssignments}}
    <h4>Assignees</h4>
    {{#each fileAssignments as |assignment|}}
      {{list-item/file-assignment assignment=assignment}}
    {{/each}}
  {{/if}}
</div>
