<div class="ui raised padded segment container webinars-purchase">
  <div class="ui active inverted dimmer">
    <div class="ui indeterminate massive text loader">
      One moment while we process your transaction.
      <div class="smaller text">
        <strong>Do not navigate away from this page.</strong>
      </div>
    </div>
  </div>
</div>
