<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui left floated header">
      Changes
    </h1>
    <h2 class="ui right floated header">
      {{model.length}} in queue
    </h2>
  </hgroup>

  <div class="ui divider"></div>

  {{#if model}}
    {{#display/resource-list
      model
      "list-item/change-item"
      class="ui divided items" as |context|
    }}
      {{context.listItem onApprove=(action "approveChange") onReject=(action "rejectChange")}}
    {{/display/resource-list}}
  {{else}}
    <h2 class="center aligned text">{{emoji-icon 'tada'}} <div class="content">No changes left to review!</div></h2>
  {{/if}}
</div>
