{{intro-js steps=intros start-if=true}}
<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employees
    </h1>

    {{#ui-dropdown class="top pointing right floated"}}
      <h3 class="ui header text"><a href="#"><i id="add-employee-trigger" class="plus icon"></i></a></h3>
      <div class="menu">
        {{#link-to 'account.employees.add.new' class="item"}}<i class="user icon"></i>One Employee{{/link-to}}
        {{#link-to 'account.employees.add.census' class="item"}}<i class="users icon"></i>Multiple Employees{{/link-to}}
      </div>
    {{/ui-dropdown}}
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided link items">
    {{#link-to 'account.employee' class="item"}}
      <div class="ui tiny rounded image">
        <img src="assets/mock/avatars/small/7.png">
      </div>
      <div class="content">
        <div class="header">Lumber Nickelson</div>
        <div class="meta">
          <span>Chopping Organizer</span>
          <span class="ui small text right floated">Edited 32 Minutes Ago</span>
        </div>
        <div class="extra">
          <div class="ui red label"><i class="remove user icon"></i> Terminated (Offboarding)</div>
          <div class="ui right floated yellow label"><i class="check icon"></i> 1 Pending Action Item</div>
        </div>
      </div>
    {{/link-to}}

    <a href="#" class="item">
      <div class="ui tiny rounded image">
        <img src="assets/mock/avatars/small/5.png">
      </div>
      <div class="content">
        <div class="header">Brittany Spears</div>
        <div class="meta">
          <span>2006 Coordinator</span>
          <span class="ui small text right floated">Edited 2 Days Ago</span>
        </div>
        <div class="extra">
          <div class="ui green label"><i class="magic icon"></i> New Hire (Onboarding)</div>
          <div class="ui right floated yellow label"><i class="check icon"></i> 3 Pending Action Items</div>
        </div>
      </div>
    </a>

    <a href="#" class="item">
      <div class="ui tiny rounded image">
        <img src="assets/mock/avatars/small/1.png">
      </div>
      <div class="content">
        <div class="header">Mary Poppins</div>
        <div class="meta">
          <span>Director of Happiness</span>
          <span class="ui small text right floated">Edited 3 Days Ago</span>
        </div>
        <div class="extra">
          <div class="ui label"><i class="edit icon"></i> 3 Recent Changes</div>
          <div class="ui red label"><i class="flag icon"></i> Under Corrective Action</div>
        </div>
      </div>
    </a>

    <a href="#" class="item">
      <div class="ui tiny rounded image">
        <img src="assets/mock/avatars/small/2.png">
      </div>
      <div class="content">
        <div class="header">Edward Scissorhands</div>
        <div class="meta">
          <span>Fumbling Assistant</span>
          <span class="ui small text right floated">Edited 2 Weeks Ago</span>
        </div>
        <div class="extra">
          <div class="ui label"><i class="edit icon"></i> 1 Recent Change</div>
        </div>
      </div>
    </a>

    <a href="#" class="item">
      <div class="ui tiny rounded image">
        <img src="assets/mock/avatars/small/3.png">
      </div>
      <div class="content">
        <div class="header">Audrey Hepburn</div>
        <div class="meta">
          <span>Chronic Retiree</span>
          <span class="ui small text right floated">Edited 3 Weeks Ago</span>
        </div>
        <div class="extra">
          <div class="ui blue label"><i class="clock icon"></i> FMLA Leave</div>
        </div>
      </div>
    </a>
  </div>

  {{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
</div>
