{{intro-js steps=intros start-if=true}}
<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employees
    </h1>

    {{#ui-dropdown class="top pointing right floated"}}
      <h3 class="ui header text"><a href="#"><i id="add-employee-trigger" class="plus icon"></i></a></h3>
      <div class="menu">
        {{#link-to 'account.employees.add.new' class="item"}}<i class="user icon"></i>One Employee{{/link-to}}
        {{#link-to 'account.employees.add.census' class="item"}}<i class="users icon"></i>Multiple Employees{{/link-to}}
      </div>
    {{/ui-dropdown}}
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided link items">
    {{#each model as |employee|}}
      {{#link-to 'account.employee' employee class="item"}}
        {{list-item/employee-item employee=employee}}
      {{/link-to}}
    {{else}}
      <h2 class="ui center aligned header">No employees available.</h2>
    {{/each}}
  </div>

  {{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
</div>
