{{stateful-intro-js
  user=auth.user
  steps=intros
  start-if=true
  hintKey='employees-index'}}

<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Employees
    </h1>

    <div class="right aligned text floated menu__actions">
      {{#ui-dropdown class="right floated top pointing inline"}}
        <h3 class="ui inline header"><a href="#"><i id="add-employee-trigger" class="plus icon"></i></a></h3>
        <div class="menu">
          {{#link-to 'account.employees.add.new' class="item"}}<i class="user icon"></i>One Employee{{/link-to}}
          {{#link-to 'account.employees.add.census' class="item"}}<i class="users icon"></i>Multiple Employees{{/link-to}}
        </div>
      {{/ui-dropdown}}
      {{#if auth.user.company.linkedToSlate}}
        <h3 class="ui right floated header">
          {{#ui-popup position="left center" content="Import from Slate Payroll..."}}
            <a href="#">
              <i class="sign in icon"></i>
            </a>
          {{/ui-popup}}
        </h3>
      {{/if}}
    </div>
  </hgroup>
  <div class="ui divider"></div>

  {{display/resource-list
    model
    "list-item/employee-item"
    linkTo="account.employee"
    linkClass="item"
    class="ui divided link items"}}

  {{elements/x-pagination
    page=(readonly page)
    pages=(readonly pages)
    onchange=(action (mut page))}}
</div>
