<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Recruiting
    </h1>

    <h3 class="ui right floated header text"><a href="#"><i class="plus icon"></i></a></h3>
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided link items">
    {{#link-to 'account.employee' class="item"}}
      <div class="content">
        <div class="header">
          Admin Assistant
        </div>
        <div class="meta">
          <span>2 Active Employees, 1 Opening</span>
          <span class="ui small text right floated">Created 2 Years Ago</span>
        </div>
        <div class="extra">
          <span class="ui green label">Hiring</span>
          <div class="ui yellow label"><i class="users fitted icon"></i> 3 New Applicants</div>
        </div>
      </div>
    {{/link-to}}
  </div>

  <div class="ui right floated small pagination menu">
    <a class="icon item">
      <i class="left chevron icon"></i>
    </a>
    <a class="item">1</a>
    <a class="item">2</a>
    <a class="item">3</a>
    <a class="item">4</a>
    <a class="icon item">
      <i class="right chevron icon"></i>
    </a>
  </div>
</div>
