<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      New Position
    </h1>
  </hgroup>
  <div class="ui divider"></div>

  <form class="ui form" {{action "save" on="submit"}}>
    <div class="field">
      <label for="job-title" class="sr-only">Job Title</label>
      {{validated-input type="text" model=model valuePath="title" placeholder="Job Title" id="job-title" inputClass="ui large fluid input"}}
    </div>

    <div class="field">
      <label for="job-description" class="sr-only">Job Description</label>
      {{froala-editor content=model.description contentChanged=(action (mut model.description)) options=(hash heightMin=250 placeholderText="Job Description")}}
    </div>
  </form>
</div>
