{{quick-form
  form
  model
  this
  tagName='div'}}

<div class="ui divider"></div>
<form {{action "save" model on="submit"}}>
  {{#form/action-button type="submit" class='ui positive fluid huge button' loading=working}}Save Corrective Action{{/form/action-button}}
</form>
