<div class="print-media__corrective-action">
  <h3 class="ui header">Issue(s)</h3>
  <p>{{long-text model.descriptionIssues}}</p>
  <h3 class="ui header">Expectations going forward</h3>
  <p>{{long-text model.descriptionExpectations}}</p>
  <h3 class="ui header">Consequences if expectations are not met</h3>
  <p>{{long-text model.descriptionConsequences}}</p>
</div>
