<h1 class="ui center aligned inverted header">Census Upload</h1>

<div class="ui divider"></div>

<div class="ui raised padded segment container clearfix">
  <h2 class="ui center aligned header">
    <i class="huge icons">
      <i class="file icon"></i>
      <i class="inverted corner pointing up icon"></i>
    </i>
    Drag and drop your census file
  </h2>
</div>
{{elements/file-uploader url="/api/v1/employee/census/upload" onWinning=(action "successHandler") onError=(action "errorHandler")}}
