<ul class="features-list">
  {{#each this.features as |feat|}}
    <li class={{if (eq feat.text this.feature.text) "feature--is-selected"}}>
      <a href="#" {{action "selectFeature" feat}}>{{feat.text}}</a>
    </li>
  {{/each}}
</ul>
<div class="features-screenshot">
  <img alt="Features" src="assets/images/{{this.feature.screen}}" />
</div>
