{{#if this.isEmployee}}
  <div class="ui tiny rounded image">
    <Display::EmployeePicture @url={{this._picture}} @employeeId={{this.__id}} class="search-result-item__image" />
  </div>
{{/if}}
{{#if (or this._title this._description)}}
  <div class="content">
    {{#if this._title}}
      <div class="search-result-item__title header">
        {{this._title}}
      </div>
    {{/if}}
    {{#if this._description}}
      <div class="search-result-item__description meta">
        {{this._description}}
      </div>
    {{/if}}
  </div>
{{/if}}
