<div class="about__backplane">
  <div class="about-backplane__content">
    <h1>About Our Team</h1>
    <p>Granite is a product created by <strong>Associated Employers</strong>, a small team of thinkers based in Billings, Montana. Our team is laser-focused on creating great experiences for our members and companies that need guidance with Human Resources. We hope you enjoy Granite HR, and look forward to hearing your feedback so we can improve Granite for you.</p>

    <p><a href="https://associatedemployers.org" target="_blank">Learn more about Associated Employers...</a></p>
  </div>
</div>
