<div class="ui raised text container segment">
  <h1 class="text-center text-danger">Uh oh. We can't find that page.</h1>
  <div class="ui divider"></div>
  <p class="text-danger text-center">
    The URL you navigated to is missing. This can either be because you typed the URL wrong or we've moved that page.  Sorry about that.<br />
  </p>
  <p class="text-center text-sm">
    {{#link-to 'index'}}Back to index{{/link-to}}
  </p>
  <div class="landing-img wilson"></div>
</div>
