<div class="ui hero cover grey overlay hero__404">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      Uh oh. We can't find that page.
    </h3>

    <p class="hero__subcontent">
      The URL you navigated to is missing. This can either be because you typed the URL wrong or we've moved that page.  Sorry about that.
    </p>

    <p class="text-center text-sm hero__subcontent">
      <LinkTo @route="index">Back to index</LinkTo>
    </p>
  </div>
</div>
