<div class="contact__backplane animated fadeInUp ">
  <div class="contact-backplane__content ui very padded center aligned segment contact container">
    <hgroup>
      <h1 class="ui header">Questions about our product or pricing?</h1>
      <h3 class="ui header">Let's get in touch.</h3>
    </hgroup>

    <div class="ui section divider"></div>

    <div class="ui two column stackable padded grid">
      <div class="column">
        <h2 class="ui header"><i class="at icon"></i> By Email</h2>
        <a href="mailto:hello@granitehr.com" class="email-link">hello@granitehr.com</a>
      </div>
      <div class="column">
        <h2 class="ui header"><i class="call icon"></i> By Phone</h2>
        <a id="phone" href="tel:4062486178">+1 (406) 248-6178</a>
      </div>
    </div>
  </div>
</div>
