<div class="ui very padded center aligned segment contact container">
  <h1 class="ui header">Say Hello</h1>

  <div class="ui section divider"></div>

  <div class="ui three column stackable padded grid">
    <div class="column">
      <h2 class="ui header"><i class="at icon"></i> Email</h2>
      <a href="mailto:hello@granitehr.com">hello@granitehr.com</a>
    </div>
    <div class="column">
      <h2 class="ui header"><i class="call icon"></i> Phone</h2>
      <a href="tel:4062486178">+1 (406) 248-6178</a>
    </div>
    <div class="column">
      <h2 class="ui header"><i class="comments icon"></i> Social</h2>
      <a href="http://twitter.com/user/granitehr"><i class="twitter square icon"></i></a>
      <a href="http://facebook.com/granitehr"><i class="facebook square icon"></i></a>
      <a href="http://linkedin.com/granitehr"><i class="linkedin square icon"></i></a>
    </div>
  </div>
</div>
