<div class="ui very padded center aligned segment contact container">
  <h1 class="ui header">Say Hello</h1>

  <div class="ui section divider"></div>

  <div class="ui two column stackable padded grid">
    <div class="column">
      <h2 class="ui header"><i class="at icon"></i> Email</h2>
      <a href="mailto:hello@granitehr.com" class="email-link">hello@granitehr.com</a>
    </div>
    <div class="column">
      <h2 class="ui header"><i class="call icon"></i> Phone</h2>
      <a id="phone" href="tel:4062486178">+1 (406) 248-6178</a>
    </div>
  </div>
</div>
