<div class="ui hero cover grey overlay hero__500">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      {{#if this.fromError.status}}{{this.fromError.status}}{{/if}} Uh oh.
    </h3>

    <p class="hero__subcontent">
      {{#if this.clientError}}You did something bad.{{else}}Something is broken.{{/if}}<br />
      {{#if this.fromError.responseText}}
        <small>
          <code>{{this.fromError.responseText}}</code> That's all we know.
        </small>
      {{/if}}
      {{#if this.fromError.message}}
        <small>
          <code>{{this.fromError.message}}</code> That's all we know.
        </small>
      {{/if}}
    </p>

    <p class="text-center text-sm hero__subcontent">
      {{#link-to "index"}}Back to index{{/link-to}}
    </p>
  </div>
</div>
