<section class="ui hero cover hero__granite-cover hero__index-padding">
  <div class="hero__colorway-overlay"></div>
  <div class="hero__content">
    <h3 class="ui header hero__title">
      <div class="hero-title__segment hero-title__the">The</div>
      <div class="hero-title__segment hero-title__next">next</div>
      <div class="hero-title__segment hero-title__generation">generation</div>
      <div class="hero-title__segment hero-title__of">of</div>
      <div class="hero-title__segment hero-title__nimble">nimble</div>
      <div class="hero-title__segment hero-title__hris">HRIS.</div>

      <Display::ScrollReveal @selector=".hero__title .hero-title__the" @useDelay="once" @delay={{100}} @viewFactor={{0.2}} @origin="left" @distance="100px" />
      <Display::ScrollReveal @selector=".hero__title .hero-title__next" @useDelay="once" @delay={{300}} @viewFactor={{0.2}} @origin="bottom" @distance="100px" />
      <Display::ScrollReveal @selector=".hero__title .hero-title__generation" @useDelay="once" @delay={{800}} @viewFactor={{0.2}} @origin="right" @distance="100px" />
      <Display::ScrollReveal @selector=".hero__title .hero-title__of" @useDelay="once" @delay={{1500}} @viewFactor={{0.2}} @origin="top" @distance="100px" />
      <Display::ScrollReveal @selector=".hero__title .hero-title__nimble" @useDelay="once" @delay={{1900}} @viewFactor={{0.2}} @origin="bottom" @distance="300px" />
      <Display::ScrollReveal @selector=".hero__title .hero-title__hris" @useDelay="once" @delay={{2800}} @viewFactor={{0.2}} @origin="top" @distance="100px" />
    </h3>

    <div class="ui two column container center aligned stackable grid hero__big-buttons">
      <div class="column column__explore-link">
        <LinkTo @route="our-product" class="ui fluid inverted blue button explore-link">
          <i class="privacy icon"></i> Explore Granite
        </LinkTo>
      </div>
      <div class="column column__five-min-link">
        <LinkTo @route="signup.index" class="ui fluid green button five-min-set-link">
          <i class="wizard icon"></i> 5 minute sign up
        </LinkTo>
      </div>
      <Display::ScrollReveal @selector=".column__explore-link" @useDelay="once" @delay={{3100}} @viewFactor={{0.2}} @origin="bottom" @distance="200px" />
      <Display::ScrollReveal @selector=".column__five-min-link" @useDelay="once" @delay={{3600}} @viewFactor={{0.2}} @origin="bottom" @distance="200px" />
    </div>
  </div>
</section>

<section class="ui index__callout hero cover hero__index-padding">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      <div class="hero-title__segment hero-title__human">Human</div>
      <div class="hero-title__segment hero-title__resources">resources</div>
      <div class="hero-title__segment hero-title__redesigned">redesigned</div>

      <Display::ScrollReveal @selector=".hero__title .hero-title__human" @useDelay="once" @delay={{200}} @viewFactor={{0.2}} @origin="right" @distance="200px" />
      <Display::ScrollReveal @selector=".hero__title .hero-title__resources" @useDelay="once" @delay={{500}} @viewFactor={{0.2}} @origin="right" @distance="200px" />
      <Display::ScrollReveal @selector=".hero__title .hero-title__redesigned" @useDelay="once" @delay={{900}} @viewFactor={{0.2}} @origin="right" @distance="200px" />
    </h3>

    <h2 class="callout-text--middle">We've reimagined &amp; redesigned HR processes from the ground up. From our ground breaking talent management module, to our secure, neatly organized employee information screens. We've thought of everything.</h2>
    <Display::ScrollReveal @selector=".callout-text--middle" @useDelay="once" @delay={{1000}} @viewFactor={{0.2}} @origin="right" @distance="200px" />

    <h3 class="callout-text">
      Organize your company's HR, recruiting, asset management &amp; more.
      <LinkTo @route="our-product">See our features <i class="angle double right icon"></i></LinkTo>
    </h3>
    <Display::ScrollReveal @selector=".index__callout .callout-text" @useDelay="once" @delay={{1100}} @viewFactor={{0.2}} @origin="bottom" @distance="200px" />
  </div>
</section>

<section class="index__icon-callouts ui stackable three column grid container">
  <div class="center aligned column">
    <h1 class="ui icon header">
      <i class="bolt icon"></i>
      Powerful Conventions
    </h1>
    <p>
      Managing human resources can be a difficult and monumental task. We've designed Granite HR with powerful conventions that make HR tangible. With our onboarding and offboarding processes, we guide you through hire and fire with ease.
    </p>
    <Display::ScrollReveal @selector=".index__icon-callouts > .column:nth-child(1)" @useDelay="once" @delay={{200}} @viewFactor={{0.2}} @origin="left" @distance="200px" />
  </div>

  <div class="center aligned column">
    <h1 class="ui icon header">
      <i class="cogs icon"></i>
      Easily Configurable
    </h1>
    <p>
      Does your company have more complex needs? Granite HR allows you to customize our conventions and fill in custom notification templates, recruiting pipelines, corrective action stages, and more.
    </p>
    <Display::ScrollReveal @selector=".index__icon-callouts > .column:nth-child(2)" @useDelay="once" @delay={{200}} @viewFactor={{0.2}} @origin="bottom" @distance="200px" />
  </div>

  <div class="center aligned column">
    <h1 class="ui icon header">
      <i class="map icon"></i>
      Robust Features
    </h1>
    <p>
      Lightweight doesn't mean we don't pack a punch. Everything from asset management, corrective action, recruiting, on/offboarding, census, organization charts, employee self-service, documents, to messaging and projects.
    </p>
    <Display::ScrollReveal @selector=".index__icon-callouts > .column:nth-child(3)" @useDelay="once" @delay={{200}} @viewFactor={{0.2}} @origin="right" @distance="200px" />
  </div>
</section>
{{!-- <div class="ui divider"></div> --}}
<section class="index__bottom-callout">
  <h1>Don't let us do all the talking.</h1>
  <h2><LinkTo @route="signup">Sign up with our free 14-day trial</LinkTo> and decide what features excite you.<br>Questions? <LinkTo @route="contact">Get in touch.</LinkTo></h2>
</section>
