<div class="ui hero cover grey overlay hero__granite-cover hero__index-padding">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      The next generation of lightweight HRIS
    </h3>

    <div class="ui two column container center aligned stackable grid hero__big-buttons">
      <div class="column">
        {{#link-to 'signup.index' class="ui fluid inverted blue button"}}
          <i class="privacy icon explore-link"></i> Explore Granite
        {{/link-to}}
      </div>
      <div class="column">
        {{#link-to 'signup.index' class="ui fluid green button"}}
          <i class="wizard icon five-min-set-link"></i> 5 minute sign up
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
