<div class="ui hero cover grey overlay hero__granite-cover hero__index-padding">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      The next generation of lightweight HRIS
    </h3>

    <div class="ui two column container center aligned stackable grid hero__big-buttons">
      <div class="column">
        {{#link-to "our-product" class="ui fluid inverted blue button explore-link"}}
          <i class="privacy icon"></i> Explore Granite
        {{/link-to}}
      </div>
      <div class="column">
        {{#link-to "signup.index" class="ui fluid green button five-min-set-link"}}
          <i class="wizard icon"></i> 5 minute sign up
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
