<section class="ui hero cover grey overlay hero__granite-cover hero__index-padding">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      The next generation of lightweight HRIS
    </h3>

    <div class="ui two column container center aligned stackable grid hero__big-buttons">
      <div class="column">
        {{#link-to "our-product" class="ui fluid inverted blue button explore-link"}}
          <i class="privacy icon"></i> Explore Granite
        {{/link-to}}
      </div>
      <div class="column">
        {{#link-to "signup.index" class="ui fluid green button five-min-set-link"}}
          <i class="wizard icon"></i> 5 minute sign up
        {{/link-to}}
      </div>
    </div>
  </div>
</section>

<section class="index__callout">
  <h1>
    Organize your company's human resources, recruiting, asset management, &amp; more.
    {{#link-to 'our-product'}}See our features <i class="angle double right icon"></i>{{/link-to}}
  </h1>
</section>

<section class="index__icon-callouts ui stackable three column grid container">
  <div class="center aligned column">
    <h1 class="ui icon header">
      <i class="bolt icon"></i>
      Powerful Conventions
    </h1>
    <p>
      Managing human resources can be a difficult and monumental task. We've designed Granite HR with powerful conventions that make HR tangible. With our onboarding and offboarding processes, we guide you through hire and fire with ease.
    </p>
  </div>

  <div class="center aligned column">
    <h1 class="ui icon header">
      <i class="cogs icon"></i>
      Easily Configurable
    </h1>
    <p>
      Does your company have more complex needs? Granite HR allows you to customize our conventions and fill in custom notification templates, recruiting pipelines, corrective action stages, and more.
    </p>
  </div>

  <div class="center aligned column">
    <h1 class="ui icon header">
      <i class="map icon"></i>
      Robust Features
    </h1>
    <p>
      Lightweight doesn't mean we don't pack a punch. Everything from asset management, corrective action, recruiting, on/offboarding, census, organization charts, employee self-service, documents, to messaging and projects.
    </p>
  </div>
</section>
{{!-- <div class="ui divider"></div> --}}
<section class="index__bottom-callout">
  <h1>Don't let us do all the talking.</h1>
  <h2>{{#link-to 'signup'}}Sign up with our free 14-day trial{{/link-to}} and decide what features excite you.<br>Questions? {{#link-to "contact"}}Get in touch.{{/link-to}}</h2>
</section>
