<div class="ui hero cover grey overlay hero__404">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      404 Not Found
    </h3>

    <p class="hero__subcontent">
      We could not find that page.<br />
      {{#if this.fromError.responseText}}
        <small>
          <code>{{this.fromError.responseText}}</code> That's all we know.
        </small>
      {{/if}}
    </p>

    <p class="text-center text-sm hero__subcontent">
      {{#link-to "index"}}Back to index{{/link-to}}
    </p>
  </div>
</div>
