<div class="product__section product__section--img product__section--top">
  <div class="product-section__content">
    <h1 class="product-section__content--granite">Granite HR</h1>
    simplifies the monumental task of managing Human Resources
  </div>
</div>

<div class="product__section product__section--recruiting">
  <div class="product-section__content">
    <h1 class="section-content__title">Recruiting</h1>
    <h4 class="section-content__tagline">Fast track your hiring process and let Granite do the heavy lifting</h4>

    {{display/product/features-list features.recruiting}}
  </div>
</div>

<div class="product__section product__section--img product__section--img-reverse-rotate product__section--counseling">
  <div class="product-section__content">
    <h1 class="section-content__title">Counseling</h1>
    <h4 class="section-content__tagline">Document employee issues and easily issue corrective actions</h4>

    {{display/product/features-list features.counseling}}
  </div>
</div>

<div class="product__section product__section--asset__Managemnet">
  <div class="product-section__content">
    <h1 class="section-content__title">Asset Managemnet</h1>
    <h4 class="section-content__tagline">Follow assigned, valuable assets through your organization</h4>

    {{display/product/features-list features.assetManagemnet}}
  </div>
</div>

<div class="product__section product__section--img product__section--img-reverse-rotate product__section--human__capital">
  <div class="product-section__content">
    <h1 class="section-content__title">Human Capital</h1>
    <h4 class="section-content__tagline">Employee records are at your fingertips, with easy <br /> access to common Human Resource actions</h4>

    {{display/product/features-list features.humanCapital}}
  </div>
</div>
