<div class="circular-background">
  <div class="ui vertical stripe segment padded">
      <div class="ui text container">
        <h1 class="centered ui header"> <img src="assets/images/money-icon.png" alt="Money Bag" class="inline money">But How Much Does It Cost?</h1>
        <hr class="thinning-hr"/>
        <h3 class="ui header">Mind-Blowingly Simple Pricing: $3 per person per month with a $15 minimum</h3>
        <p>Instead of focusing on creating a bloated system with a bloated price structure, we've focused on performing core functions at a price anyone can afford. </p>
        <a class="ui large button">Ready to Join?</a>
        <h4 class="ui horizontal header divider">
          <a href="#">Another Option</a>
        </h4>
        <h3 class="ui header">Did We Tell You About Our Free Trial?</h3>
        <p>Try it before you buy it! We want you to be happy with your choice. That's why we offer a no strings attached trial period. Try it out and let us know what you think.</p>
        <a class="ui large button">Give it a spin!</a>
      </div>
    </div>
</div>
