<div class="ui padded container pricing__container">
  <hgroup class="pricing__titles">
    <h1 class="pricing-titles__lead">Simple, <span class="pricing-titles-lead__flex">flexible</span> pricing.</h1>
    <h6 class="pricing-titles__sub">Prorated pricing based on your company's size, with free inactive user data retention</h6>
  </hgroup>

  <div class="pricing__bars">
    <div class="pricing-bars__bar--fiveusers">
      <span>1-5 employees</span><span>$25/month</span>
    </div>
    <div class="pricing-bars__bar--sixusers">
      <span>6+ employees</span><span>$5/employee per month</span>
    </div>
  </div>

  <div class="pricing__backplane">
    <div class="pricing-backplane__content">
      {{#link-to "signup" class="ui massive green button"}}
        Get Started
      {{/link-to}}
    </div>
  </div>
</div>
