<div class="ui text container">
  <h1 class="ui center aligned header shared__resource-header">This resource was shared with you</h1>
  {{outlet}}
</div>
<br>
<p class="center aligned small text">Powered by Granite HR</p>
