<div class="ui splash splash__signup fluid container">
  <div class="ui stackable splash splash__signup grid">
    <div class="three wide column">
      <div class="ui vertical signup steps animated fadeInRight">
        {{#each this.steps as |step|}}
          <Display::UiStep @step={{step}} @link={{false}} />
        {{/each}}
      </div>
    </div>
    <div class="ten wide column">
      {{outlet}}
    </div>
    <div class="three wide column"></div>
  </div>
</div>
