<div class="ui very padded basic segment container">
  <h1 class="ui header">Granite HR Terms of Service</h1>
  <div class="ui section divider"></div>
  <p><em>1. Introduction</em></p>
  <p>Thank you for visiting Granite HR. Please read these Terms of Service and
    our Privacy Policy carefully, as you must agree to both as a condition of
    using our Service.</p>
  <p><em>2. Definitions</em></p>
  <p>Throughout this Agreement, we may use certain words or phrases, and it is important that you understand the meaning of them. The list is not
      all-encompassing and no definition should be considered binding to the
      point that it renders this Agreement nonsensical:
      <br/>
      <br/>
      “Agreement” refers to these Terms of Service;
      <br/>
      “Granite HR” refers to our company, known as “Associated Employers” doing
      business as “Associated Management Services”; our Site; our Service; or a
      combination of all or some of the preceding definitions, depending on the
      context in which the word is used;
      <br/>
      “Service” refers to the services that we provide, including our Site
      itself;
      <br/>
      “Site” refers to our website, <a href="https://www.granitehr.com">www.granitehr.com</a>;
      <br/>
      “User” refers to anyone who uses our Service, including, companies,
      employers, managers, employees, and general visitors to our Site;
      <br/>
      “You” refers to you, the person who is entering into this Agreement with
      Granite HR.</p>
  <p>
    <em>3. Description of Service</em>
  </p>
  <p>
    Granite HR is a Human Resources website designed to simplify the monumental
    task of managing Human Resources and is powered by an employers association
    called Associated Employers.
  </p>
  <p>
    <em>4. Eligibility</em>
  </p>
  <p>
    In order to use our Service, you must meet a number of conditions,
    including but not limited to:
    <br/>
    <br/>
  </p>
  <ul>
    <li>
      You must not be in violation of any embargoes, export controls, or
      other laws of the United States or other countries having jurisdiction
      over this Agreement, Granite HR, and yourself. For example, if the
      Office of Foreign Assets Control prohibits conducting financial
      transactions with nationals, residents, or banks of your country, you
      must not use our Service.
    </li>
    <li>
      You must be the minimum age required to enter into a contract in the
      area in which you reside, and, in any event, must not be less than 18
      years of age.
    </li>
    <li>
      You must provide us with personal information and other information
      that we deem necessary to provide you with our Service.
    </li>
  </ul>
  <p>
    <em>5. Disclaimer</em>
  </p>
  <p>
    Granite HR is provided on an as-is, where-is basis. You agree that you are
    solely responsible for determining whether the use of Granite HR is right
    for you, and to hold Granite HR harmless for any loss which may arise from
    or relate to your use of our Service. Granite HR makes no representations
    about the honesty or reliability of any potential employee, employer,
    advertiser, or other User of its Service, and is not a party to any
    contracts for labor or otherwise into which you may enter with another
    User.
  </p>
  <p>
    <em>6. Rules of Use</em>
  </p>
  <p>
    You must not:
  </p>
  <ul>
    <li>
      Violate the laws of the United States, its states, or any foreign
      political entity having jurisdiction over this Agreement, whether or
      not the foreign political entity is a country or a subdivision (such as
      a state or province) or municipality (such as a city, town, county, or
      region) of a foreign country.
    </li>
    <li>
      Post or send anything violent, threatening, pornographic, racist,
      hateful, or otherwise objectionable according to the opinion of Granite
      HR or its delegates.
    </li>
    <li>
      Infringe on anyone’s intellectual property rights, defame anyone,
      impersonate anyone, or otherwise violate the rights of a third party.
    </li>
    <li>
      Hack, crack, phish, attempt to misuse the api, or otherwise compromise
      the security or integrity of the Granite HR Site, Service, or its
      Users’ computers.
    </li>
    <li>
      Do anything else which could bring Granite HR into disrepute or violate
      the rights of any person.
    </li>
  </ul>
  <p>
    <em>7. Our Copyright</em>
  </p>
  <p>
  Granite HR’s copyright is important because it protects our content from
  being diminished in its uniqueness by third parties. You agree not to copy,
  distribute, display, disseminate, or otherwise reproduce any of the
  information on the Site, including User profiles submitted to Granite HR,
  without receiving our prior written permission.
  </p>
  <p>
    <em>8. Your Copyright</em>
  </p>
  <p>
    Granite HR must be assured that it has the right to use the content that is
    posted to its Service by its Users. Such content may include, but is not
    limited to, photographs, videos, text, audio, and other materials. Whenever
    submitting content to our Service, you agree that you are granting us a
    non-exclusive, universal, perpetual, irrevocable, sublicensable, commercial
    and non-commercial right to use, distribute, sell, publish, and otherwise
    make use of the content that you submit to us. You warrant to us that you
    have the right to grant us this right over the content, and that you will
    indemnify us for any loss resulting from a breach of this warranty and
    defend us against claims regarding the same.
  </p>
  <p>
    <em>9. Trademarks</em>
  </p>
  <p>
    “Granite HR” is a trademark used by us, Associated Employers, to uniquely
    identify our Site, Service, and business. You agree not to use this phrase
    anywhere without our prior written consent. Additionally, you agree not to
    use our trade dress, or copy the look and feel of our Service or its
    design, without our prior written consent. You agree that this paragraph
    goes beyond the governing law on intellectual property law, and includes
    prohibitions on any competition that violates the provisions of this
    paragraph, including starting your own competing business.
  </p>
  <p>
    <em>10. Revocation of Consent</em>
  </p>
  <p>
    We may revoke our consent for your use of our intellectual property, or any
    other permission granted to you under this Agreement, at any time. You
    agree that if we so request, you must take immediate action to remove any
    usage of our intellectual property that you may have engaged in, even if it
    would cause a loss to you.
  </p>
  <p>
    <em>11. Copyright &amp;Trademark Infringement</em>
  </p>
  <p>
    We take copyright infringement very seriously, and we have registered a
    Copyright Agent with the United States Copyright Office, which limits our
    liability under the Digital Millennium Copyright Act. If you believe that
    your copyright has been infringed, please send us a message which contains:
  </p>
  <ul>
    <li>
      Your name.
    </li>
    <li>
      The name of the party whose copyright has been infringed, if different
      from your name.
    </li>
    <li>
      The name and description of the work that is being infringed.
    </li>
    <li>
      The location on our website of the infringing copy.
    </li>
    <li>
      A statement that you have a good faith belief that use of the
      copyrighted work described above is not authorized by the copyright
      owner (or by a third party who is legally entitled to do so on behalf
      of the copyright owner) and is not otherwise permitted by law.
    </li>
    <li>
      A statement that you swear, under penalty of perjury, that the
      information contained in this notification is accurate and that you are
      the copyright owner or have an exclusive right in law to bring
      infringement proceedings with respect to its use.
    </li>
  </ul>
  <p>
    You must sign this notification electronically and send it to our Copyright Agent at <a href="mailto:getsupport@granitehr.com">getsupport@granitehr.com</a>.
    <br/>
    Although U.S. law does not provide for a similar procedure for trademark
    infringement, we recommend that you send us similar information to that
    above in regards to any allegation of trademark infringement, and we will
    address it as soon as practicable.
  </p>
  <p>
    <em>12. Communications Decency Act</em>
  </p>
  <p>
    Similar to the DMCA provisions above, United States law—specifically
    Section 230 of the Communications Decency Act—creates a defense for us for
    the actions of third parties in regards to any defamatory content posted
    through our Service. Although we are not liable for defamatory words posted
    through our Service by our Users even if given notice, we do prohibit
    defamation under this Agreement and we may, if we believe the situation warrants it, take action against the offending User. Please notify us at <a href="getsupport@granitehr.com">getsupport@granitehr.com</a> if any of
    our Users have posted anything that you believe is defamatory.
  </p>
  <p>
    <em>13. Payment and Refunds</em>
  </p>
  <p>
    Payment may be made by MasterCard, Visa, American Express, or PayPal. We
    may collect payments through the third party payment provider, Braintree.
    Unless otherwise stated, all prices listed on our Site are denominated in
    United States dollars.
    <br/>
    <br/>
    Users shall pay all applicable fees to Granite HR, as described on the Site
    or websites in connection with such portion of our Service selected by
    Users, and any related taxes or additional charges. All fees are
    non-refundable unless expressly stated otherwise on our Site. You warrant
    and represent that you are the authorized account holder or an authorized
    user of the chosen method of payment used to pay for the paid portions of
    the Service. All fee-based portions of our Service and virtual goods are
    provided “AS IS” with no warranties of any kind. Granite HR may modify
    and/or eliminate such fee-based portions of our Service at our discretion.
    You understand and agree that the payment for virtual goods grants you a
    limited license to use the virtual goods as specified on our Site.
    <br/>
    <br/>
    Granite HR may change its prices at any time but will provide you
    reasonable notice of any such changes by posting the new prices on the Site
    and/or by sending you an e-mail notification. If you do not wish to pay the
    new prices, you may cancel your subscription to our Service prior to the
    change going into effect.
  </p>
  <p>
    <em>14. Representations &amp;Warranties</em>
  </p>
  <p>
    WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR
    SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE. YOU AGREE THAT YOU ARE
    RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN
    RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS
    INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY
    OTHER TORT. TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF
    LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT
    OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM
    EXISTS.
    <br/>
    <br/>
    YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY
    THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO PEOPLE
    WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS
    INTERFERENCE WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT
    TOWARDS YOU.
    <br/>
    <br/>
    YOU AGREE THAT WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES
    OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS,
    UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL,
    ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR
    PERMANENTLY.
    <br/>
    <br/>
    YOU AGREE THAT WE ARE NOT LIABLE FOR ANY LOSS CAUSED BY ANY USER, INCLUDING
    AN ADVERTISER, EMPLOYEE, OR EMPLOYER.
    <br/>
    <br/>
    THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH
    THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT. NOTHING IN THE PROVISIONS OF
    THIS “REPRESENTATIONS &amp; WARRANTIES” SECTION SHALL BE CONSTRUED TO LIMIT
    THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.
    <br/>
    <br/>
  </p>
  <p>
    <strong>
      For Jurisdictions that do not allow us to limit our liability:
    </strong>
    Notwithstanding any provision of these Terms, if your jurisdiction has
    provisions specific to waiver or liability that conflict with the above
    then our liability is limited to the smallest extent possible by law.
    Specifically, in those jurisdictions not allowed, we do not disclaim
    liability for: (a) death or personal injury caused by its negligence or
    that of any of its officers, employees or agents; or (b) fraudulent
    misrepresentation; or (c) any liability which it is not lawful to exclude
    either now or in the future.
  </p>
  <p>
    <br/>
    IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT
    REGARDING RELEASE THEN THE FOLLOWING APPLIES. FOR EXAMPLE, CALIFORNIA
    RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY
    OF CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, “A GENERAL RELEASE
    DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO
    EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF
    KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT
    WITH THE DEBTOR." YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL
    CODE. YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE
    THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.
  </p>
  <p>
    <em>15. Indemnity</em>
  </p>
  <p>
    You agree to indemnify and hold us harmless for any claims by you or any
    third party which may arise from or relate to this Agreement or the
    provision of our service to you, including any damages caused by your use
    of our App or acceptance of the offers contained on it. You also agree that
    you have a duty to defend us against such claims and we may require you to
    pay for an attorney(s) of our choice in such cases. You agree that this
    indemnity extends to requiring you to pay for our reasonable attorneys’
    fees, court costs, and disbursements. In the event of a claim such as one
    described in this paragraph, we may elect to settle with the party/parties
    making the claim, and you shall be liable for the damages as though we had
    proceeded with a trial.
  </p>
  <p>
    <em>16. Choice of Law</em>
  </p>
  <p>
    This Agreement shall be governed by the laws in force in the State of
    Montana. The offer and acceptance of this contract are deemed to have
    occurred in the State of Montana.
  </p>
  <p>
    <em>17. Forum of Dispute</em>
  </p>
  <p>
    You agree that any dispute arising from or relating to this Agreement will
    be heard solely by a court of competent jurisdiction in the State of
    California. Specifically, where the subject matter of a dispute is eligible
    for it, you agree that any disputes shall be heard solely within the
    Yellowstone County Justice Court in the State of Montana (“Small Claims
    Court”) in accordance with Title 25, Chapter 35 of the Montana Code
    Annotated.
    <br/>
    <br/>
    If a dispute claims multiple claims and one or more of those claims would
    be eligible to be heard by the Small Claims Court, you agree not to bring
    the other claims against us and to instead proceed within the Small Claims
    Court.
    <br/>
    <br/>
    If you would be entitled in a dispute to an amount exceeding the monetary
    jurisdiction of the Small Claims Court, you agree to waive your right to
    collect any damages in excess of the monetary jurisdiction and instead
    still bring your claim within the Small Claims Court. At the time of the
    drafting of this Agreement, the monetary jurisdiction of the Small Claims
    Court is $7,000.
    <br/>
    <br/>
    You agree that if a dispute is eligible to be heard in Small Claims Court
    but you would be entitled to an additional or alternative remedy in a
    higher court, such as injunctive relief, you will waive your right to that
    remedy and still bring the dispute within the Small Claims Court.
    <br/>
    <br/>
    If you bring a dispute in a manner other than in accordance with this
    section, you agree that we may move to have it dismissed, and that you will
    be responsible for our reasonable attorneys’ fees, court costs, and
    disbursements in doing so.
    <br/>
    <br/>
    You agree that the unsuccessful party in any dispute arising from or
    relating to this Agreement will be responsible for the reimbursement of the
    successful party’s reasonable attorneys’ fees, court costs, and
    disbursements.
    <br/>
    <br/>
  </p>
  <p>
    <em>18. Force Majeure</em>
  </p>
  <p>
    You agree that we are not responsible to you for anything that we may
    otherwise be responsible for, if it is the result of events beyond our
    control, including, but not limited to, acts of God, war, insurrection,
    riots, terrorism, crime, labor shortages (including lawful and unlawful
    strikes), embargoes, postal disruption, communication disruption,
    unavailability of payment processors, failure or shortage of
    infrastructure, shortage of materials, or any other event beyond our
    control.
  </p>
  <p>
    <em>19. Severability</em>
  </p>
  <p>
    In the event that a provision of this Agreement is found to be unlawful,
    conflicting with another provision of the Agreement, or otherwise
    unenforceable, the Agreement will remain in force as though it had been
    entered into without that unenforceable provision being included in it.
    <br/>
    <br/>
    If two or more provisions of this Agreement are deemed to conflict with
    each other’s operation, Granite HR shall have the sole right to elect which
    provision remains in force.
  </p>
  <p>
    <em>20. Non-Waiver</em>
  </p>
  <p>
    Granite HR reserves all rights afforded to us under this Agreement as well
    as under the provisions of any applicable law. Our non-enforcement of any
    particular provision or provisions of this Agreement or any applicable law
    should not be construed as our waiver of the right to enforce that same
    provision under the same or different circumstances at any time in the
    future.
  </p>
  <p>
    <em>21. Termination &amp; Cancellation</em>
  </p>
  <p>
    We may terminate your access to our Site and Service at our discretion
    without explanation, though we will strive to provide a timely explanation
    in most cases. Our liability for refunding you, if you have paid anything
    to us, will be limited to the amount you paid for goods or services which
    have not yet been and will not be delivered, except in cases where the
    termination or cancellation was due to your breach of this Agreement, in
    which case you agree that we are not required to provide any refund or
    other compensation whatsoever.
    <br/>
    <br/>
    Under no circumstances, including termination or cancellation of our
    Service to you, will we be liable for any losses related to actions of
    other Users.
  </p>
  <p>
    <em>22. Assignment of Rights</em>
  </p>
  <p>
    You may not assign your rights and/or obligations under this Agreement to
    any other party without our prior written consent. We may assign our rights
    and/or obligations under this Agreement to any other party at our
    discretion.
  </p>
  <p>
    <em>23. Amendments</em>
  </p>
  <p>
    We may amend this Agreement from time to time. When we amend this
    Agreement, we will post the changes here. You must read this page each time
    that you use our Service and your continued use of our Service shall
    constitute your acceptance of any such changes.
  </p>
  <p>
    <em>24. California Users and Residents</em>
  </p>
  <p>
    Pursuant to California Civil Code Section 1789.3, any questions about
    pricing, complaints, or inquiries about Granite HR must be addressed to our
    agent for notice and sent via certified mail to that agent. For our agent’s
    most current contact information, please send a request to <a href="getsupport@granitehr.com">getsupport@granitehr.com</a>.
    <br/>
    <br/>
    Lastly, California users are also entitled to the following specific
    consumer rights notice: The Complaint Assistance Unit of the Division of
    Consumer Services of the California Department of Consumer Affairs may be
    contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, or
    by telephone at (916) 445-1254 or (800) 952-5210.
  </p>
  <p>
    Last Modified: March 4, 2019
  </p>
</div>
