<h1 class="text-center text-danger">401 Unauthorized</h1>
<hr />

<p class="text-danger text-center">
  You were unauthorized to access that resource.<br />
  <small>
    <code>{{unauthorizedReason}}</code> That's all we know.
  </small>
</p>

<p class="text-center text-sm">
  {{#link-to 'index'}}Back to index{{/link-to}}
</p>
