<div class="ui hero cover grey overlay hero__401">
  <div class="hero__content">
    <h3 class="ui header hero__title">
      401 Unauthorized
    </h3>

    <p class="hero__subcontent">
      You were unauthorized to access that resource.<br />
      <small>
        <code>{{this.unauthorizedReason}}</code> That's all we know.
      </small>
    </p>

    <p class="text-center text-sm hero__subcontent">
      {{#link-to "index"}}Back to index{{/link-to}}
    </p>
  </div>
</div>
