<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <h2 class="ui horizontal divider header">Employee Details</h2>
  <div class="content">
    <div class="field">
      {{ui-calendar
        class="field"
        type="date"
        label="When will this employee be terminated?"
        dateValue=this.model.terminatedOn
        onChange=(action (mut this.model.terminatedOn))}}
    </div>

    <div class="two fields">
      <div class="field">
        <label for="termination-reason">Separation Category</label>
        {{#ui-dropdown id="termination-reason" class="search selection" selected=this.model.terminationReason onChange=(action (mut this.model.terminationReason))}}
          <div class="default text">Voluntary or Involuntary</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="voluntary">
              Voluntary
            </div>
            <div class="item" data-value="involuntary">
              Involuntary
            </div>
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="field">
        <label for="eligible-for-rehire">Eligible for Rehire</label>
        {{ui-checkbox class="toggle" label=(if this.model.eligibleForRehire "Eligible" "Not Eligible") checked=this.model.eligibleForRehire onChange=(action (mut this.model.eligibleForRehire))}}
      </div>
    </div>
  </div>

  <div class="field">
    <label for="separation-notes"> Notes (for your use only)</label>
    <Textarea @id="separation-notes" @rows="1" @placeholder="Notes..." @value={{this.model.separationNotes}} />
  </div>

  <div class="ui divider"></div>
  {{#form/action-button type="submit" class="ui huge fluid green button" loading=this.working}}Next{{/form/action-button}}
</form>
