<h2 class="ui header">
  <i class="credit card alternative icon"></i>
  <div class="content">
    Removed from billing
    <div class="sub header">
      This employee will be removed from your billing once you have completely offboarded the employee.
    </div>
  </div>
</h2>
<div class="ui divider"></div>
<button class="ui huge positive fluid button" {{action "startOffboarding"}}>Let's get started</button>
