<form class="ui form" {{action "saveAndContinue" on="submit"}}>
  <h2 class="ui horizontal divider header">Offboarding Options</h2>

<div class="ui divider"></div>
{{#form/action-button type="submit" class="ui huge fluid green button" loading=working}}Next{{/form/action-button}}
</form>
