<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Help &amp; Support
    </h1>
    <div class="right aligned text menu">
      <UiDropdown @class="item icon top right pointing">
        <i class="wrench icon"></i><i class="dropdown icon"></i>
        <div class="menu">
          <ConfirmModal @class="item" as |confirm|>
            <a href="#" class="text-black" {{on "click" (prevent-default (pipe confirm this.resetIntros))}}><i class="undo icon"></i>Reset Help Tutorials</a>
          </ConfirmModal>
        </div>
      </UiDropdown>
    </div>
  </hgroup>

  <div class="ui divider"></div>

  <h3>Knowledgebase</h3>

  <div class="ui list">
    {{#each-in this.model as |key value|}}
      <LinkTo @route="account.help.topic" @model={{key}} class="item">
        {{value.title}}
      </LinkTo>
    {{/each-in}}
  </div>

  <div class="center aligned text">
    <h4>Still need help?</h4>
    Email us at <a href="mailto:getsupport@granitehr.com" class="email-link">getsupport@granitehr.com</a>
  </div>
</div>
