<div class="ui raised padded segment container clearfix">
  <hgroup class="clearfix">
    <h1 class="ui header left floated">
      Documents
    </h1>

    <div class="right aligned text floated menu__actions">
      <h3 class="ui header">
        {{#link-to 'account.documents.new' class="right floated"}}
          {{#ui-popup tagName='span' content="Add a department"}}
            <i class="plus icon"></i>
          {{/ui-popup}}
        {{/link-to}}
      </h3>
    </div>
  </hgroup>
  <div class="ui divider"></div>

  <div class="ui divided link items">
    {{#each model as |doc|}}
      {{#link-to 'account.document' doc class="item"}}
        {{list-item/document-item doc}}
      {{/link-to}}
    {{else}}
      <h2 class="ui center aligned header">No documents available.</h2>
    {{/each}}
  </div>

  {{elements/x-pagination page=(readonly page) pages=(readonly pages) onchange=(action (mut page))}}
</div>
