<div class="ui raised very padded segment container animation__documents-intro">
  <div class="content">
    <h1 class="ui center aligned header">
      <i class="file icon"></i>
      Get started with Documents
    </h1>
    <div class="ui divider"></div>
    <h2 class="ui header">
      <i class="lightning icon"></i>
      <div class="content">
        For Reference
        <div class="sub header">Keep the documents you use most available on Granite and enable smart interactions between other modules.</div>
      </div>
    </h2>

    <h2 class="ui header">
      <i class="external square icon"></i>
      <div class="content">
        To Manage
        <div class="sub header">Push documents to employees and require signatures and feedback. Reduce time spent on collecting signed documents, keeping up with employee feedback and keep it electronically.</div>
      </div>
    </h2>
    <div class="ui divider"></div>
    <div class="field">
      <button type="button" class="ui labeled icon huge fluid blue button" {{on "click" (prevent-default (action "done"))}}>Alright<i class="check icon"></i></button>
    </div>
  </div>
</div>
